[2016-03-22 19:38] zachary-foster opened #2 "Class relationships"
I am trying to think of what classes are needed and how they should be related to allow for a flexible way of manipulating taxa and items that makes the fewest assumptions about the data and the users intentions. Below is the best I can come up with so far.

![class_concept_graph](https://cloud.githubusercontent.com/assets/6090555/13964717/57bd6bd4-f028-11e5-9857-c44c3946f204.png)

The ovals repre

[2016-04-13 00:19] sckott commented on #2
Sorry for delay. I like it. will be good to have something like this in the pkg documentation to help users navigate the different classes

[2016-04-13 00:28] sckott commented on #2
looking at the PR

[2016-04-14 00:05] zachary-foster commented on #2
No problem. I’m glad you like it! Yes, it would be useful to have something like this in the documentation.

One change I think I would make after thinking about this more would be to not use `taxon` objects in `taxonomy`, but rather use `taxon_ID` objects directly and make functions to convert between a list of `taxon` and a `taxonomy`.
I think this would aid in subsetting and memory use.

Taxon

[2016-04-14 16:29] sckott commented on #2
I agree we want to make sure data is stored efficiently. Hopefully it's a solution that doesn't take much time to serialize from whatever the object is to e.g., data.frame's

[2016-08-25 23:34] sckott opened #4 "Where to go now post merge of new data.frame based functions?"
@zachary-foster  now that the last PR is merged

I assume it still makes sense to include classes and methods based not around data.frame's as well?  And perhaps methods to go between the two?  Or are you thinking differently about this?

[2016-08-26 00:38] zachary-foster commented on #4
Yes, I think having both types would be useful. A type of object that holds individual taxa or perhaps a list of taxa, for which each taxon is self-contained. This would provide a good contrast with the `taxmap` objects, where it is assumed that there is data classified by taxa and taxa are not self-contained.  Interconversion methods would be good to have. I have not thought about this much yet t

[2016-08-26 19:04] zachary-foster commented on #4
We should think about a few use-cases for the other types of classes. `taxmap` is designed to be as abstract as possible, not even specific to biology really, so it would be nice to have some classes that consider things like rank, like the `taxa` class currently does.

How do you envision these kindof classes will be used? In `taxize`?

[2016-08-26 19:59] zachary-foster commented on #4
I was thinking about this just now and I am having problem figuring out what information should be contained within a "Taxon".

1. A single rank or a full classification? Is "Ascomycota" a taxon alone, or only in the context of "Eukaryota|Fungi|Ascomycota"? Should these two possibilities represent two different classes?
1. Multiple valid names? Is "Animalia" and "Metazoa" the same taxon? Should a

[2016-08-27 01:42] sckott commented on #4
thanks for all your thoughts, will respond soon, was driving all day 🚗

[2016-08-30 19:18] zachary-foster commented on #4
No problem. sounds good

[2016-08-30 19:27] zachary-foster commented on #4
Here is another quandary:

5) What about "placeholder" "taxa", like "undefined", "incertae sedis", "spp", and "Root"? Are these taxa? When comparing taxa, a "undefined" basidomycete is different than a "undefined" ascomycete, but if the whole classification hierarchy is not known or not contained within the taxon class then this is less clear.

[2016-08-31 02:51] sckott commented on #4
I envision similar to `sp`, where other pkgs use `taxa` for base taxonomy classes, either building on, reading from, writing to. In `taxize`, we could have all the `get_*()` fxns coerce to `taxa` classes as their output (which means we need a way to have multiple taxa together of course)

[2016-08-31 03:00] sckott commented on #4
I think both should be allowed. And diff. classes, yes. That is, single names alone can be class `taxon` e.g., and a hierarchy of names class `hierarchy`

We can't reasonably account for all these synonyms ourselves, so I guess we should assume the user or database has to supply the info. But if there is info on synonyms, then yeah, seems worth accounting for those.

Right, and each database can h

[2016-08-31 16:45] sckott commented on #4
I think they have to be considered/included somehow. E.g., thinking about ecologists, there's often unknown species, where the lowest known name is a family e.g.,

Right, they are different, but if the user doesn't supply the information, then it'd be hard for us to automatically pull that out. e.g., if they give `undefined basidomycete`, we could try to parse out a taxonomic name from it, but we'

[2016-08-31 17:06] sckott commented on #4
use cases for the `taxa` classes:

__binomen__

Right now, `binomen` [defines taxonomic classes](https://github.com/ropensci/binomen#classes-s3) __AND__ has [functions for manipulating those classes](https://github.com/ropensci/binomen#verbs) (combining, separating, sorting, etc.). With classes being defined in this pkg, we can remove taxonomic classes from `binomen`, and it will only have the fun

[2016-08-31 22:06] sckott commented on #4
@zachary-foster okay, pushed up some changes to the taxa classes - reinstall and see egs.

I have more notes i wrote down on paper for use cases and classes, will put those here

also, more to do:

- [ ] handle > 1 of each of the classes. have plural versions of each class?
- [ ] when there's IDs for every rank and name pair, not just the 1 target name, how to handle that

[2016-09-06 16:28] zachary-foster commented on #4
@sckott Nice, I will look at your changes now. In the mean time, here is my thoughts on your comments above.

Yes, I think it would be sufficient to have the `name` field accept multiple values and have any comparison functions take that into account. This could be useful for people in metagenomics who might start out with arbitrary names and identity them during an analysis (e.g. a taxon can be b

[2016-09-06 17:48] sckott commented on #4
Sounds good to have a simple class for `database_id` and can add multiple to a taxon. I don't think a hierarchy itself needs an ID - all the taxa within it will have IDs  - hierarchy does need metadata about which database it came from (the `database_name` class/string)

[2016-09-06 22:09] zachary-foster commented on #2
Here is an updated version of my ideas for a set of classes that takes into account out discussion in #4:

![taxa_class_ideas](https://cloud.githubusercontent.com/assets/6090555/18292478/29d5b070-7442-11e6-80ae-6ecd7cb566a6.png)

I did most of this before looking at the code you pushed recently, so it does not line up well with it.

[2016-09-06 22:32] zachary-foster commented on #4
I looked through the code you put up recently and it seems to be a good fit for classical species-based taxonomic data, the type you would find in ecological studies/surveys. The only concerns I have is that it assumes that the user has, or is mostly interested in, species-level information (the `name` class). In my work (metagenomics), we often don’t have species information, although you have mo

[2016-09-08 20:15] sckott commented on #4
i assume you mean you could just have an ID, and no name at all, right?

[2016-09-08 20:17] sckott commented on #4
right, makes sense

right

[2016-09-08 20:36] sckott commented on #2
I'll give it a shot on a different branch, and I'll ping you for feedback when it's up

[2016-09-08 23:50] sckott commented on #2
@zachary-foster reworked taxa classes based on your new schematic above, let me know what you think.

I'm not sure how `taxonomy` is different from `hierarchy`, thoughts? I didn't implement `hierarchy` yet

[2016-09-08 23:50] sckott commented on #2
oh yeah, install from this branch https://github.com/ropenscilabs/taxa/tree/taxa-class-rework

`devtools::install_github("ropenscilabs/taxa@taxa-class-rework")`

[2016-09-09 00:27] zachary-foster commented on #2
Cool, I will look at the updates soon.

So `taxonomy` could store the same information as `hierarchies`. `hierarchies` would store each classification sequentially, like so:

[code]

Where each letter is a `taxon` object or `character`.

`taxonomy` could store the same information hierarchically by having a list of unique taxa and an associated edge list defining the relationships:

[code]

## How

[2016-09-09 00:27] zachary-foster commented on #2
Oops, did not mean to close this

[2016-09-09 00:34] zachary-foster commented on #4
Partially, yes, that often happens. But what I meant was that sometimes a sequence can only be assigned to a coarse taxonomic rank (e.g., family or phylum) and the species or genus can not be determined.

[2016-09-10 16:09] sckott commented on #4
Ah right. I see what you mean. Do the changes in https://github.com/ropenscilabs/taxa/tree/taxa-class-rework account for this now?

[2016-09-10 16:17] sckott commented on #2
Thanks for the clarification. Makes sense now. Above I meant to say that `taxonomy` hasn't been implemented yet, not `hierarchy`

I'll get `taxonomy` done now

[2016-09-10 16:29] sckott commented on #2
Actually, I'm still not sure how `taxonomy` will work, since you have to have some way to group taxa that belong together. So would `taxonomy` take in `hierarchy` objects? So in your graphic above `taxonomy` would be on the same level as `hierarchies` and `hierarchy` feeds into either `taxonomy` or `hierarchies`?

[2016-09-12 16:06] sckott opened #5 "Add vignette"

[2016-09-12 16:23] sckott opened #6 "fxn name conflicts"
there are two:
- for `taxa` classes we talked about using `hierarchies`, but there is already a `hierarchies` fxn for `taxmap` classes - currently i'm using `hierarchies_` for the version for `taxa` classes
- for the function `taxa` for `taxa` classes, the pkg is named `taxa`, so i'm using `taxa_` right now

thoughts on what to do? probably best to rename these things.

One option is to simply mer

[2016-09-12 16:51] zachary-foster commented on #6
I actually just addressed this in my PR before even seeing this issue

Yea, I was thinking about that too. I think the package should be renamed since `taxa` is such a good name for a class.  The best new package name I came up with is `taxar`, which is  OK, but not great.

I would be fine with that.

[2016-09-12 16:54] zachary-foster commented on #4
Yes, just being able to define `hierarchies` without species information does the trick.

I went through `taxa-class-rework` and it looks good. I like the print methods.

[2016-09-12 17:07] zachary-foster commented on #2
So `taxonomy` would be made with `taxa` objects, but it could be converted to and from `hierarchies` objects. The levels in my graph correspond to dependency.   `taxonomy` is conceptually on the same level as `hierarchies`, but only depends on `taxa`.

`taxon` objects are groups together using the edge list. This takes the place of the `hierarchies` structure. Think of `taxonomy` as a tree structu

[2016-09-12 17:14] sckott commented on #6
Saw the PR, thanks

I think merging into binomen is ideal, esp since there are already parsing/etc. methods for taxmap classes, and no equivalent for taxa classes. `dplyr` is needed for taxmap methods, and also for binomen methods, so we're not adding additional heavy dependencies

[2016-09-12 17:15] zachary-foster commented on #6
Sounds good to me

[2016-09-12 17:19] zachary-foster commented on #6
In order to maintain the issue and commit history of this repo, what do you think of merging the code of the current `binomen` and renaming this repo to `binomen`?

[2016-09-12 17:24] sckott commented on #6
I do want to retain commit history for both - i'll google around how best to do the merge

[2016-09-12 17:26] zachary-foster commented on #6
That would be great if that is possible

[2016-09-12 18:26] sckott commented on #2
@zachary-foster Ah, the input to `taxonomy` are `taxa` class objects?

[2016-09-12 18:50] zachary-foster commented on #2
Yes, either a list of `taxon` or a `taxa`, but an edge list would also be needed. I imagine that objects of this class will normally be made by file parsing functions or by converting `hierarchies` objects, not "by hand" using the class constructor, since an edge list is not a very intuitive data structure, at least for me; I usually have to think pretty hard to create an edge list for a tree I ha

[2016-09-13 18:52] sckott commented on #2
Okay, will do. Yeah, I don't think we can expect users to supply an edge list.

[2016-09-14 01:42] sckott commented on #2
okay, merging to master now, we can continue changes there

[2016-09-14 01:42] #5 closed

[2016-09-14 20:08] zachary-foster opened #9 "Adapt `taxmap` utility functions to `taxonomy`"
The following functions used to get information from `taxmap` objects should be easily adaptable to `taxonomy` objects:
- [x] [supertaxa](https://github.com/ropenscilabs/taxa/blob/master/R/taxmap--utilities.R#L30)
- [x] [subtaxa](https://github.com/ropenscilabs/taxa/blob/master/R/taxmap--utilities.R#L143)
- [x] [roots](https://github.com/ropenscilabs/taxa/blob/master/R/taxmap--utilities.R#L93)

On

[2016-09-14 20:18] sckott commented on #9
you should be able to now

[2016-09-14 21:32] zachary-foster commented on #9
Great, thanks!

[2016-09-16 19:54] zachary-foster opened #10 "`taxonomy` questions"
Hi @sckott, nice work with the `taxonomy` class! I am looking through the code and trying to figure a few things out:

1. Whats going on [here](https://github.com/ropenscilabs/taxa/blob/master/R/taxa-taxonomy.R#L34)? I dont see a `taxa` variable. It results in `no. hierarchies: 0 ` when the print method is used.
1. Do we need to store the `edgelists` and `graph` variables? They seem redundant to m

[2016-09-16 20:09] sckott commented on #10
fixed no. 1 above, sorry, had originally assigned input hierarchies to a variable called taxa, but then removed it.

[2016-09-16 20:12] sckott commented on #10
No, probably don't need to store `edgelists` and `graph` variables

I changed the internal method `unique_taxa` to `get_unique_taxa`, but didn't change `uniqtaxa`, but you can change it

[2016-09-16 20:13] zachary-foster commented on #10
Ok, sounds good. I will pull your changes and merge them with mine before submitting a PR.

[2016-09-19 18:10] zachary-foster commented on #10
It seems like this has been addressed by the recent PR

[2016-09-19 18:10] #10 closed

[2016-09-19 19:02] sckott commented on #10
agree

[2016-09-19 20:32] zachary-foster commented on #9
@sckott, I am trying to implement this and I am not sure the best way to go about it. I can think of the following options:

1. Make `subtaxa`, `supertaxa` etc. R6 methods of `taxonomy`. e.g. `data$subtaxa()`
1. Make `subtaxa`, `supertaxa` etc. S3 generics functions with a method for `taxonomy`. e.g. `subtaxa(data)`. I assume this is possible?
1. Combine 1 and 2, by having the R6 method call the S

[2016-09-20 03:26] sckott commented on #9
I like and support this

Are you leaning one way or the other wrt S3 vs. R6?

I think they should be in here. remember, I want to merge this with binomen, so we have sort of equivalent functionality with taxmap and taxa classes

[2016-09-20 17:07] zachary-foster commented on #9
I am thinking that option 3 is probably the best, but I don’t have much experience with R6 so it is hard for me to choose between 3 and 4. I think I will start implementing option 3 and see how that goes. In general, it might be nice to haves s

[2016-09-20 17:25] sckott commented on #9
That sounds good to me. We can rework if we need to as we're still pre-CRAn

[2016-09-20 23:35] zachary-foster commented on #9
@sckott, I tested option 3 by adapting `supertaxa` to `Taxonomy` on the `issue-9` branch. I had problems getting the roxygen documentation to pass R CMD check. For example, I could not get the usage to show both ways of using the function. It seems to be working, but its a little awkward to document.

Im not sure that calling the S3 method from R6 would be better; in that case, we would not be abl

[2016-09-21 16:24] sckott commented on #9
@zachary-foster having a look. Curious, why did you remove all the tests?

[2016-09-21 16:38] zachary-foster commented on #9
I did it temporarily to pass R CMD check since some of the changed I made broke quite a few of them. All the tests so far were for `taxmap` and will have to be mostly rewritten anyway once that class is reworked. I still have them in `metacoder` and the master branch and I will use them as a template when it comes time to make tests for the reworked `taxmap`.

You can take the `taxonomy` example a

[2016-09-21 16:39] sckott commented on #9
Okay on tests, sounds fine.

Thanks for e.g.

Yes.

[2016-09-21 16:40] sckott commented on #9
I think I prefer the version on branch `issue-9`

[2016-09-21 16:45] zachary-foster commented on #9
Thats the way I was leaning to. I will continue work on that branch then. Thanks for looking it over!

[2016-09-21 16:46] sckott commented on #9
cool^3

[2016-10-20 16:36] sckott commented on #9
@zachary-foster any progress on this?

[2016-10-20 17:37] zachary-foster commented on #9
Not too much unfortunately. I ran into a difference in how the edge list is constructed using your algorithm vs mine, which made these functions harder to adapt that I expected and I have not had enough time to think about this enough. Basically, my functions assume there is one edge per taxon, even if there is no edge leading to it (They connect to `NA` in that case). This allows the edge list to

[2016-10-20 17:40] sckott commented on #9
Okay, thanks for the explanation. Let me know if I can help change anything to make this easier.

Totally understand about time constraints.

[2016-12-05 15:41] sckott opened #12 "merge binomen into this package"
from #6

[2016-12-05 15:41] sckott opened #13 "rename package to binomen perhaps"
from #6

[2016-12-07 01:26] sckott commented on #9
@zachary-foster if okay with you, i want to move forward with this pkg.

I can try to do the changes you were going to do, but if I can't quite understand, I'll see about putting those changes on hold until you can get around to them while still releasing a first version to CRAN that will easily allow the future changes.

[2016-12-08 02:47] zachary-foster commented on #9
@sckott, sorry for the inactivity. I looked at this issue for a bit today and I think I have a solution to the edge list issue. I am trying it out now. I am ok with an adaptable CRAN release if we cant get this working soon.

[2016-12-08 18:21] sckott commented on #9
okay, thanks @zachary-foster

[2016-12-11 22:57] zachary-foster commented on #9
Hi @sckott, I think I have implemented a decent solution to the edge list problem. So the algorithm you had there worked in most cases, but did not differentiate taxa with the same name, but different lineages:

[code]

Note how the two "unidentified" taxa was combined into one. With the new version the output is:

[code]

[2016-12-13 15:12] sckott commented on #9
thanks for your work on this. looks good to me. I ran through the tests, looks good.

i guess we'd need something to replace that though, what would it be?

I can help with adding examples if you like

[2016-12-13 19:30] zachary-foster commented on #9
Im not sure. If we put something like "(root)" it could confuse people into thinking that there is a taxon called "(root)". Maybe is makes sense how it is.

Another bit of weirdness to consider is that the "index" for the `return_type` is the index of the edge list, not the taxon list and they do not need to be in the same order. This is unintuitive, but is more useful since most computationally-i

[2016-12-13 20:18] sckott commented on #9
I think sticking with `NA` is good (we can revisit if needed)

For examples, we can have some objects that are loaded with the package that are the things that you'd need to do examples, so that we don't have to include all the code for that setup. And we can point to man file(s) for the data object for how to create that object (data need to have man files anyway, so that works out)

[2016-12-13 21:59] zachary-foster commented on #9
That sounds like a good plan to me

[2016-12-14 17:30] zachary-foster opened #14 "Verify and add tests for character as input for class constructors"
Hi @sckott, I was thinking that it would be useful if all of the classes allowed for character input when being initialized as well as objects as they currently do. I started doing this for `taxonomy` and therefore most of the others as well since the `taxonomy` constructor now calls their constructors to do the character to object conversion, but I bet there are edge cases still unhanded.

For ex

[2016-12-14 17:44] zachary-foster opened #15 "New utility functions"
There are a few "utility" functions I am thinking about adding in the same family as `subtaxa`, `supertaxa`, and `roots`.

## `tips` or `leaves`

This would return all the taxa with no subtaxa. It would be useful when transforming a `taxonomy` into a `hierarchies`.

Which name do you like better? `leaves` is consistent with `roots` and `stems`, but `tips` is shorter...

## `stems`

This would retu

[2016-12-15 01:29] sckott commented on #14
Probably. Can you point me to where the change is in the code? is this an example of the change https://github.com/ropenscilabs/taxa/blob/issue-9/R/taxa-taxonomy.R#L28-L30

[2016-12-15 01:32] sckott commented on #15
Nice, both sound good.

I like `leaves` over `tips`, as you said more consistent with other names

`stems` sounds good

[2016-12-16 01:02] zachary-foster commented on #15
This is done now. I just realized I made the changed on the issue-9 branch. I intended to make another branch.

If they look good to you I will close this.

[2016-12-16 01:05] sckott commented on #15
that's okay, yeah, looks good to me.

[2016-12-16 01:07] zachary-foster commented on #15
Nice

[2016-12-16 01:07] #15 closed

[2016-12-16 05:08] zachary-foster commented on #14
I think this commit has all of the changes to the class constructors:

https://github.com/ropenscilabs/taxa/commit/8516219d6355954b75ea47ec3dd103b4345dc30a

[2016-12-16 19:33] sckott commented on #14
yeah, looks good!

[2016-12-17 00:06] zachary-foster commented on #14
Cool, this seems to be done then.

[2016-12-17 00:06] #14 closed

[2016-12-17 01:01] zachary-foster opened #16 "Rebuild `taxmap` on top of `taxonomy`"
This will be an upgrade of `taxmap`, but with `taxonomy` already doing a lot of the heavy lifting, I think it will actually reduce the complexity of `taxmap` some. The basic idea is to make `taxmap` inherit `taxonomy`, but add a list of user-defined tables. When these tables have a `taxon_id` column, that column will be used to map rows to the taxa and the edgelist, so modifications of the edgelis

[2016-12-17 23:00] sckott commented on #16
Okay, let me know if I can help

[2016-12-17 23:01] sckott commented on #12
i'm waiting on this until major changes are merged in in https://github.com/ropenscilabs/taxa/tree/issue-9

[2016-12-17 23:02] sckott commented on #13
waiting on this until #12

[2016-12-19 18:24] zachary-foster commented on #12
Ok. The only thing that perhaps should get done is adding examples to the documentation for `taxonomy`, `subtaxa`, `supertaxa`, `roots`, and `stems`. Are you going to do that? I can also do it. Either way is fine with me. We can also merge now if you want; everything is working as far as I can tell.

[2016-12-19 18:29] zachary-foster commented on #16
Ok, thanks!

[2016-12-19 21:41] sckott commented on #12
Right on the examples, but most of your changes are not on master branch right?  So I want to merge those in before merging together with `binomen`.

for examples happy to add some, but again, would be nice to merge in your changes first.

can you send PR soon?

[2016-12-19 22:33] zachary-foster commented on #12
Oh yea, its ready to merge. I assumed you would make the changes on the issue-9 branch, but a PR makes more sense. I will send it now

[2016-12-19 23:35] sckott commented on #12
thanks, i wasn't sure which branch was the most recent

[2017-03-02 00:49] zachary-foster commented on #16
Hi @sckott. So this is finally done. Sorry it took so long. Everything is working as far as I can tell and all the new functions have examples that you can test out. There are no tests yet and I have not perfected the documentation since I wanted your input before investing more time in the details, but there is hopefully enough there for you to get what I am going for.

I know there is a lot of c

[2017-03-02 01:39] sckott commented on #16
No worries about the time.

Great news.  Will have a look through the pull request, and see if anything we should change.

taking a look at it now, first thing to do is to split out helper functions in that file into other files as makes sense.

I suppose you're also or primarily referring to the `Taxmap` class - which yeah is pretty big. A few thoughts on that:

* could use inheritance in R6 http

[2017-03-02 02:01] sckott commented on #9
@zachary-foster okay if I close this? i think the only thing left here is to add examples

[2017-03-02 04:17] zachary-foster commented on #16
Perhaps. A few of the functions that only deal with taxon relationships could be reinstalled in the `taxonomy` class, but some would have to be partially overwritten by `taxmap` since they have options that affect the `data` variable in `taxmap`, even if that is not their main effect (e.g. `filter_taxa`). Im not sure if there is much room conceptually to put a class in between `taxonomy` and `taxm

[2017-03-02 17:35] sckott commented on #16
for R6 inheritance, i've no idea if that even makes sense in this case, its just the only thing i can think of to allow breaking up `Taxmap` into smaller parts

cool, always a fan of DRYing out code

[2017-03-03 18:31] zachary-foster opened #19 "Behavior of taxmap$func() vs func(taxmap)"
@sckott, currently, I have set up the two ways of calling functions to behave differently.
Calling a function in the classical R way imitates traditional no-side-effects copy-on-change behavior by cloning the object before returning the changed clone version. For example, `filter_taxa(ex_taxmap, 1:3)` will not change `ex_taxmap`, but `ex_taxmap$filter_taxa(1:3)` will. Both return the modified `ex_

[2017-03-03 18:40] sckott commented on #19
I agree that any one person will likely stick to one way or the other.

I think we should stick with what you've done for now - we should get others to take a look at the entire package soonish and if there's a strong feeling about changes, we can talk about that then

[2017-03-03 18:40] zachary-foster commented on #19
Sounds good

[2017-03-03 18:41] sckott commented on #16
Seems like this issue is done, right?  can I close?

sounds good to open new issues

[2017-03-03 18:41] zachary-foster commented on #16
Yea, it can be closed

[2017-03-03 18:42] sckott commented on #16
thanks

[2017-03-03 18:42] #16 closed

[2017-03-07 19:42] zachary-foster opened #21 "Perhaps add a `return_type`: "name""
This would apply to functions that use taxonomy's `private$get_return_type` to return a result, like `subtaxa` and `supertaxa`. Instead of returning an ID or whatevs, it would return taxon names.

Seems like it would be an easy add.

Thoughts?

[2017-03-07 20:03] sckott commented on #21
sounds good to me

[2017-03-07 21:36] #21 closed

[2017-03-16 00:31] sckott commented on #9
@zachary-foster ^^

[2017-03-16 13:49] zachary-foster commented on #9
@sckott oh yea, you can close it.

[2017-03-16 15:28] zachary-foster opened #24 "Add tests for `taxmap`"
This could take a while since there are a lot of functions with flexible input/output associated with taxmap.
The list below includes the relatively complex functions that are not just wrappers for other functions:

- [x] all_names
- [x] names_used
- [x] get_data
- [x] obs
- [x] filter_taxa
- [x] filter_obs
- [x] select_obs
- [x] mutate_obs
- [x] transmute_obs
- [x] arrange_obs
- [x] arrange_taxa

[2017-03-16 15:38] zachary-foster opened #25 "Add `distinct_obs` and `distinct_taxa` functions"
This is analogous to dplyr's `distinct`.

[2017-03-16 15:40] zachary-foster opened #26 "Add `rename_taxa` and `rename_obs` functions"
This is analogous to dplyr's `rename` function.

[2017-03-16 15:41] zachary-foster opened #27 "Add `slice_taxa` and slice_obs` functions"
This is analogous to dplyr's `slice` function

[2017-03-16 15:49] sckott commented on #9
thx

[2017-03-16 15:49] #9 closed

[2017-03-16 15:55] sckott opened #28 "get coverage working and badge in readme"

[2017-03-16 15:55] sckott opened #29 "Update README with examples, etc."

[2017-03-16 16:19] sckott opened #30 "move to markdown in roxygen docs"

[2017-03-16 17:08] #28 closed

[2017-03-16 17:08] #29 closed

[2017-03-16 17:08] #30 closed

[2017-03-16 17:24] sckott opened #31 "Add tests or more tests for `taxon` classes"
- [x] hierarchies
- [x] hierarchy - some coverage already - needed: print method
- [x] taxa
- [x] taxon_database
- [x] taxon - some coverage already - needed: print method - current tests very thin - do more
- [x] taxon_id - some coverage already - needed: print method
- [x] taxon_name - some coverage already - needed: print method

across all - do more failure testing - to make sure functions are

[2017-03-21 04:05] zachary-foster opened #32 "Replace `all_data` with `get_data` default"
`get_data()` (no `name` argument)

[2017-03-23 19:16] #24 closed

[2017-04-02 22:48] sckott commented on #31
added some tests in a25ec2dfa822d63cbdbc5c7a118390dc60482d01

[2017-04-03 16:52] zachary-foster opened #34 "Make `recursive` options in `subtaxa` and `supertaxa` accept a number"
This would allow for specifying the number of recursions to do. TRUE/FALSE could still be accepted. FALSE = 1.

This was an issue in the metacoder repo:

https://github.com/grunwaldlab/metacoder/issues/116

- [x] supertaxa
- [x] subtaxa
- [x] filter_taxa
- [x] obs
- [ ] sample_n_obs
- [ ] sample_n_taxa
- [ ] tests

[2017-04-04 09:14] zachary-foster commented on #34
Also, this should be carried over to `filter_taxa` and any other functions that have a `subtaxa = TRUE` type option. So `filter_taxa(data, x == y, subtaxa = 2)` would return all selected taxa and subtaxa one rank down by calling `subtaxa(data, x == y, recursive = 2)`.

[2017-04-18 21:15] #34 closed

[2017-04-21 15:39] zachary-foster commented on #2
Do you think we can close this? It seems the class structure is in place as far as i can tell

[2017-04-21 15:39] zachary-foster commented on #4
We can probably close this too?

[2017-04-21 15:42] zachary-foster opened #35 "What do we need to get done before CRAN?"
I figured we should work out exactly what we want done before submitting to CRAN. Is there a milestone for this? Is the v0.1 milestone the CRAN release?

[2017-04-21 18:03] sckott commented on #35
yep, `v0.1` , will have a think

[2017-04-21 18:08] sckott commented on #35
pushed date for milestone to may 4 for now, but can change as needed  https://github.com/ropenscilabs/taxa/milestone/1

[2017-04-21 18:08] sckott commented on #4
sounds good,

[2017-04-21 18:08] #4 closed

[2017-04-21 18:08] sckott commented on #2
yep

[2017-04-21 18:08] #2 closed

[2017-04-21 19:19] zachary-foster opened #36 "Finish overview vignette"
I think we should have a solid introduction vignette that briefly demonstrates the main functionality of the package before CRAN. Eventually, a few more vignettes that deal with things in more detail would be good, but those can be done later?

[2017-04-21 19:29] zachary-foster opened #37 "Make sure taxmap functions handle lists and vectors correctly"
Data frames in `taxmap$data` are pretty well tested, but not lists and vectors. Lists and vectors should be even easier than tables and the functions have been desinged with this in mind, but they have not been tested much with lists and vectors.

- [x] filter_taxa
- [x] filter_obs
- [x] select_obs
- [x] obs
- [x] mutate_obs
- [x] transmute_obs
- [x] arrange_obs
- [x] sample_n_obs
- [x] sample_fra

[2017-04-21 19:33] sckott commented on #36
Yep, the 1 good intro vignette is good for this milestone

[2017-04-21 19:42] zachary-foster opened #38 "Finalize function and option names"
If we want to rename any functions or arguments, we should do that before CRAN. If there are options that do similar things between functions we should make sure they are the same.

Standardizing the vocabulary we use in the man pages and vignettes is part of this too. For example, I tend to describe taxonomic ranks as "levels" sometimes or I use "parent taxa" and "supetaxa" the same way. I think

[2017-04-21 22:05] sckott commented on #38
true , agree

sounds good

[2017-04-24 21:56] #32 closed

[2017-04-25 03:38] sckott commented on #12
i'm going to ask CRAN to archive `binomen` this week since we're rolling into this pkg, and it will fail on CRAN checks with a new dplyr coming out on 11 May

[2017-04-25 18:55] zachary-foster commented on #12
Thanks for the update

[2017-04-25 18:59] zachary-foster commented on #13
Is the main reason for doing this the name conflict with the `taxa` class? I am OK with changing it to `binomen`, but I like `taxa` better since it is shorter and more immediately understandable.

[2017-04-25 19:05] sckott commented on #13
A few reasons. yes, fxn conflict, `taxa_` could become `taxa` - also pkg names that are too common of a word are hard to find on the internet, e.g., `taxa` results in 2.9 million hits on google scholar, while only 4000 for `binomen`

do you feel strongly about sticking with `taxa`?

[2017-04-25 19:09] zachary-foster commented on #13
Ahh, yea, did not consider searchability.  Thats a good point.

No, I don't feel strongly about `taxa`, I just kinda liked its simplicity, but searchability is more important.

[2017-04-25 19:34] zachary-foster commented on #38
Cool, I will start thinking about a glossary. Do you have any suggestions on how to implement that? It would be nice if it were all on the same page, but possible to link to specific terms. I could not find anything with a quick Google search on how to do that in a man page.

[2017-04-25 19:43] zachary-foster commented on #37
What do you think about how the names of lists and vectors are turned to `NA` when all associated taxa are filtered out, but observations are retained with `taxonless = TRUE`?

Also, related to issue #38, what do you think about changing the `taxonless` option name to `remove_obs`?

[code]
[code]
[code]
[code]

[2017-04-25 20:03] sckott commented on #38
like this should work:

[code]

[2017-04-27 20:21] sckott opened #39 "compliance with new dplyr version?"
hey @zachary-foster - have you checked that this pkg works with the new version of dplyr coming out on 11 May?

I haven't yet

https://github.com/tidyverse/dplyr

[2017-04-27 21:40] zachary-foster commented on #39
No I haven't. Good idea

[2017-04-28 19:46] zachary-foster opened #40 "How are we handling rank validation?"
Hi @sckott,

I am working on the vignette and I started thinking about ranks. I remember that the ranks used to have to match something in `/data/ranks_ref.rda`, but I suggested removing that validation since there is too much diversity in rank names to encode easily. Now I am thinking that we can do something in between.

What if the  valid ranks were associated with the `database` class, like th

[2017-04-28 20:11] sckott commented on #40
Makes sense to do validation of ranks when database is specified and be specific to a database.  ✔️

For order checking, if the ordering is wrong, do we error with message giving the correct order, or correct the order with message?

I believe i combined all the diff. rank names from diff. data providers, and just left duplicates in, they can def. be taken out.

----

Do you think this is importan

[2017-04-28 21:54] zachary-foster commented on #40
I think correcting the order with a message makes more sense.

Thinking about this more, there might be some valid ranks that do no have an order (e.g. "unranked") and can therefore be put in any order relative to ordered ranks (e.g. "species").
This makes correcting for order and encoding it more difficult.
I dont think an ordered factor would work since AFAIK you cant make a ordered factor with

[2017-04-28 22:11] sckott commented on #40
I like dealing with either lists or data.frame's  of the options you gave.

I lean towards putting this off until next cran push

[2017-04-28 22:14] zachary-foster commented on #40
Cool. I like the `data.frame` the most since it avoids numbers/NA as names.

fine with me

[2017-05-01 20:08] #37 closed

[2017-05-01 20:22] zachary-foster opened #41 "`filter_taxa` throws error when `funcs` is empty"
[code]

[2017-05-01 21:19] zachary-foster opened #42 "Databases stored as character cause error for print methods"
This affects `taxon_id`, `taxon_rank`, and `taxon_name`.  @sckott, at one point I think we discussed allowing the taxon database field of the above functions to be a character vector matching a name in `database_list`. Doing that currently causes an error.

I think allowing characters would save a lot of RAM for large datasets, since each `taxon` object could have 3 database objects, each with the

[2017-05-01 21:22] zachary-foster commented on #42
To be clear, I think we should still allow for the value to be a `TaxonDatabase` object, but if it is a character is has to match a name in `database_list`. We could also add function that lets the user add a custom database to `database_list`, so that they can use characters for custom databases

[2017-05-01 21:29] zachary-foster opened #43 ""TaxonAuthority" class?"
Hi @sckott, I notice that the `taxon` man pages mention a `TaxonAuthority` object and the print method seems to expect one, but I do not see the code for one. Should there be such a class? It would be consistent with name, rank, and id, but I am not sure what we would gain by making it a class vs just a character. Do we want to associate the authority with a database for example?

[2017-05-01 23:45] #41 closed

[2017-05-02 00:41] zachary-foster commented on #36
Hey @sckott, can you take a look at the vingette and see how you like it? Thanks

[2017-05-02 19:10] sckott commented on #36
yep, will do

[2017-05-02 19:15] sckott commented on #43
let's just keep it as a character string, I can make a change for that.

[2017-05-02 19:38] sckott commented on #42
yeah, that sounds good

[2017-05-02 19:42] #43 closed

[2017-05-02 19:43] sckott opened #44 "improve pkg level man file"
more or less empty right now

[2017-05-02 19:46] sckott commented on #36
Looks good to me!

[2017-05-02 20:05] zachary-foster commented on #36
Cool, thanks!

[2017-05-03 16:29] zachary-foster commented on #42
Nice, I think this is done then

[2017-05-03 16:29] #42 closed

[2017-05-03 17:06] #36 closed

[2017-05-11 19:09] sckott commented on #12
working on branch `include-binomen`

[2017-05-11 19:09] sckott commented on #13
sounds like we'll stick with `taxa`, so closing this

[2017-05-11 19:09] #13 closed

[2017-05-11 19:13] sckott commented on #12
@zachary-foster What do you think? See `?pop` and `?hierarchy`  - thoughts on how that's implemented and how it behaves?  good to decide on how we should structure these, then can roll out the rest of the functions following the same structure

[2017-05-11 19:14] sckott commented on #12
oh, and install from `include-binomen`

[2017-05-11 19:18] zachary-foster commented on #12
Cool, I will look at this later t

[2017-05-11 19:24] sckott commented on #12
thx

[2017-05-12 19:05] zachary-foster commented on #12
Looks good. Perhaps rename to something that mentioned rank? Like `pop_rank`? Or make usable with names and ids too?

It would be cool if we could do something like `pop(data, species:family)` too

When I was looking at this, I thought we might be able to add an abstracted version as well that can filter by taxon name and taxon ids or any other information we can derive from the class. We might be

[2017-05-12 19:19] zachary-foster commented on #12
Thinking about this more, the filter_taxa syntax could be apllied to all of the classes with multiple taxa like 'taxa' 'hierarchy' 'hierarchies' and 'taxonomy'. All of the NSE code can be reused and having a 'get_data' method for each class would make converting class info to tables a simple wrapper over get_data

[2017-05-13 00:18] sckott commented on #12
that sounds good, though we'll probably only be able to do a subset of operations with names and ids since there's no ordering to them

this is the operation `strain` in `binomen`, haven't ported that over yet

Will have a look at `filter_taxa`

[2017-05-13 00:20] sckott commented on #6
i think we can close this now, since just porting over some verb like methods from `binomen`

still not sure if we need/should change `taxa_` or not

[2017-05-13 00:20] #6 closed

[2017-05-13 00:51] #44 closed

[2017-05-13 16:53] sckott commented on #39
tested with new version installed, tests and examples all work, checks are good. will push up to travis installing new version to see if ok on ubuntu

[2017-05-13 17:00] #39 closed

[2017-05-13 17:40] zachary-foster opened #45 "Make `obs` have the option to return data instead of indexes"
Currently, `obs` just returns indexes of observations for each taxon. Most of the time that is used to look up some set of values for each taxon, so it would be nice if `obs` could return that directly.

What had to be done this way:

[code]

Could be done this way:

[code]

[2017-05-13 19:44] sckott commented on #31
woops, tots forgot about that this was on another branch, merging now

[2017-05-13 19:46] zachary-foster commented on #39
Nice!

[2017-05-13 20:51] #31 closed

[2017-05-15 16:05] #45 closed

[2017-05-24 18:16] zachary-foster opened #47 "Issue errors if a user tries to uses a `taxmap` option with `taxonomy` object"
There are 4 functions that have been moved from `taxmap` to `taxonomy`:

- [x] filter_taxa
- [x] arrange_taxa
- [x] sample_n_taxa
- [x] sample_frac_taxa

These have a few options specific to taxmap. For the purposes of DRY, I will try to have the full functions in `taxonomy` and check the class used before allowing the options specific to `taxmap` to be used.

[2017-05-24 18:57] sckott commented on #47
this is for first CRAN push, yes?

[2017-05-24 19:14] zachary-foster commented on #47
I think so, I expect to have it done today. Now there is only one version of those functions in `Taxonomy` (not in `Taxmap`), so its actually a little less complicated than overwriting the functions in `taxmap` like I did originally. Just need to move things around and add some `if`s and `warnings`.

[2017-05-24 19:20] sckott commented on #47
okay, will mark with the milestone

[2017-05-24 19:33] #47 closed

[2017-05-31 18:48] zachary-foster opened #48 "Add taxon ids for names to table column output in `get_data`"
`get_data` returns this:

[code]

Note how entries like "dangerous" that came from tables in `ex_taxmap$data` are not named by taxon id.
Not all tables have  a "taxon_id" column, but if it is there, then they should be named.

- [x] make private function to get the taxon ids for things in `ex_taxmap$data` by name
- [x] Add taxon ids to output when possible

[2017-05-31 21:59] zachary-foster commented on #48
I thin I have it working:

[code]

[2017-05-31 22:04] #48 closed

[2017-06-01 10:38] zachary-foster opened #49 "Make the `value` option in the `obs` function use NSE"
`obs` currently does this kind of thing:

[code]
...

It might be useful to do something like this instead:

`ex_taxmap$obs("info", value = name)`

Then, it would allow expressions:

`ex_taxmap$obs("info", value = sample_1 + sample_2)`

[2017-06-01 17:58] zachary-foster commented on #49
Thinking about this more, the character input (`value = "name"`) should also be accepted, since this is useful for when you have to loop over multiple columns rather than refer to them by name or want to use column index. If its too hard to make it accept both types, then perhaps a new option called `exp` could be added and either `value` or `exp` can be used, but not both.

`ex_taxmap$obs("info",

[2017-06-01 18:04] zachary-foster opened #50 "Make sure `value` option in `obs` works with lists and vectors"
Currently, the `value` option of obs takes the name of a column in a table to extract values from for each taxon.
This does not make sense for lists/vectors.
I am thinking of modifying so it accepts TRUE/FALSE.
Alternatively, it might work already if you use the same value as `data`.

[2017-06-01 18:10] sckott commented on #49
hmm, the way i've seen it done and I've done it as well in some pkgs, is to have two fxns, one like `foo` and another `foo_` - where `foo()` can do e.g. `foo(x = bar)` and the other does `foo_(x = "bar")` - and `foo_` is called from within `foo` - or maybe it's better to have parameters as you say above

[2017-06-01 18:12] zachary-foster opened #51 "Make `value` in `obs` and `return_type` in other funcs work the same"
These do very similar things, so they might as well have the same name and implementation.
Maybe rename `return_type` to `value` and make it work like `value` currently does, which is more consistent with how other functions work. This will however remove `return_type`'s ability to return `taxa` and `hierarchies` objects. I think the added flexibility of being able to use everything in `all_names`

[2017-06-01 18:36] sckott commented on #51
but they can still be accessed via `$` ?

[2017-06-01 18:44] zachary-foster commented on #49
Oh yea, `dplyr` does that, although I think that was removed in the latest version? I did not think of doing that. Something to consider. I never got the hang of using the two function setup myself.

I hesitate to do that because, I already have the functions like `filter_taxa` accepts both NSE and SE in the same option, so for consistency, those would perhaps have to be changed to have a `filter_

[2017-06-01 19:03] sckott commented on #49
the two parameter option sounds good

[2017-06-01 19:39] zachary-foster commented on #51
The list of taxa would still be in the object, but the function would not convert its output to `taxon` or `hierarchy` objects.
EG

[code]
...

*vs*

[code]
.
.
.

*vs*

[code]

[2017-06-01 20:08] zachary-foster opened #52 "Make `subset` option accept NSE like `filter_taxa`"
All the functions that have the subset option return values per-taxon.
The same code that `filter_taxa` uses to parse NSE should work here too.
Let you do stuff like:

`supertaxa(ex_taxmap, taxon_ranks == "species")`

instead of

`supertaxa(ex_taxmap, ex_taxmap$taxon_ranks() == "species")`

- [x] obs
- [x] subtaxa
- [x] leaves
- [x] roots
- [x] stems
- [x] supertaxa

[2017-06-01 22:46] #51 closed

[2017-06-01 22:46] #52 closed

[2017-06-01 23:01] zachary-foster opened #53 "Do something about how `value` can now return nonsensical output"
Since the changes in #51, `value` is a much more flexible version of what `return_type` was.
However, it is now really easy for users to do irrational things without a warning.
Since its currently implementation just looks up the data given and subsets it by the result of the function it is in. In some cases the result of the function is observation indexes (`obs`) and other times it is taxon inde

[2017-06-02 09:17] #53 closed

[2017-06-02 09:40] zachary-foster opened #54 "Go through docs right before CRAN"
I am noticing some outdated and inconsistent documentation.
We should probably go through it before the CRAN submission, although I fixed some of it.

[2017-06-02 17:07] sckott commented on #54
👍  will also do for the bits I've been maintaining

[2017-06-02 17:56] zachary-foster opened #55 "Add a option similar to `value` that controls how results are named"
Currently, results of functions like `supertaxa` return taxon information named by taxon id:

[code]
...

It would be nice to reuse the code for `value` to add an option like `name_value` that controls how each result is named.

It would work like this:

[code]
...

This would allow for making mappings between any two variables in `all_names()`

- [ ] obs
- [ ] subtaxa
- [ ] leaves
- [ ] roots
- [

[2017-06-02 18:48] zachary-foster opened #56 "Add `branches` function"
In the group of functions `roots`, `stems`, and `leaves` I think there is a place for everything else, which I was thinking about calling `branches`.

There is already an `is_branch` function, so I figure there could be a `branches` function to make things consistent. It would return info on everything that is not a root, stem, or leaf. The four together would be the whole tree.

[2017-06-02 19:22] zachary-foster opened #57 "Make `classifications` function"
This would be an abstraction of `id_classifications` and `name_classifications`, that allow constructing classifications from anything in `all_names()`

[code]
would be the same as:

`ex_taxmap$classifications(value = "taxon_names")`

[2017-06-02 19:45] sckott commented on #56
sounds good, can you give an example of what a branch would be?

[2017-06-02 20:02] zachary-foster commented on #56
A branch is anything that is not a root, stem, or, leaf. Its the interior of the tree after the first split starting from the roots. I am not sure if its really all that useful, but I like completing the metaphor and it should be easy to implement, since I could program it as any taxa not returned by  `roots()`, `stems()`, or `leaves()`.

[2017-06-02 20:36] zachary-foster opened #58 "Add function for tabular output of `taxonomy` and `taxmap`"
This would try to pack all the information in `taxmap`  or `taxonomy` into a table, repeating values when necessary.
This could be done using the output of `get_data()`.

[code]

`cols` would be any set of values in `all_names()`. I hesitate to have `cols` output everything by default, because there is a lot in `all_names()` that most people would not want exported (e.g. `is_stem`). I also don't w

[2017-06-02 21:24] sckott commented on #56
right, does make sense to complete the set

[2017-06-02 21:50] zachary-foster commented on #54
Cool

Do you use the roxygen comment re-flowing tool (ctrl+shift+/ in rstudio)? I was using it and noticing that is messes up the indentation of the usage examples. I could not use the `@usage` thing because R cmd check complains about our weird R6/S3 hybrid tactics, so I imitated the `@usage` section in the description. Just an FYI. If you select the text you want to re flow instead of just putti

[2017-06-02 22:19] sckott commented on #54
I don't use the reflow thing, didn't know about it. do you think i should?

[2017-06-02 22:25] zachary-foster commented on #54
If you want, I like it when it does not mess stuff up.
If you just put the cursor in a roxygen block it reflows the whole block, but if you select text, it only reflows that selection. I like using it right after I (re)write a section, but doing the whole block can mess stuff up if you have some custom indentation.
I just mention it because it was messing up our custom formatting when I was using

[2017-06-05 19:14] zachary-foster opened #59 "Add NSE variables for dataset taxon ids"
I found a situation were it would be useful for the taxon ids of observations in a table be available to NSE in `all_names()`. For observation taxon ids of lists and vectors, it is easy to just use `names` to get taxon ids. For example, in ...

[code]

The taxon ids of `ex_taxmap$data$foods` could be found by NSE with `names(foods)`, but there is no easy way to get the taxon ids of rows in the `ex

[2017-06-05 19:53] zachary-foster opened #60 "Make sure `taxmap` functions work for datasets with multiple obs per taxon"
All of the example data in `ex_taxmap` currently has a 1:1 relationship with taxa (`info` does not have values for all taxa). A lot of data in the real world will have multiple observations per taxon. The functions are designed for this, but it has not been tested much.

- [x] add dataset to `ex_taxmap` with multiple observations per taxon.
- [ ] add tests that use the new dataset for major functi

[2017-06-06 17:17] zachary-foster opened #61 "`subtaxa` errors when `subset` is all FALSE"
[code]

[2017-06-06 17:39] #61 closed

[2017-06-08 06:07] zachary-foster opened #62 "Use `rlang` instead of `lazyeval` for NSE"
After running into some mysterious bugs, I made a [reproducibility example](https://github.com/zachary-foster/bugtest) and asked people on the ropensci slack to look at it. Jim Hester figured out the cause:

[2017-06-08 17:28] #62 closed

[2017-06-08 19:21] #59 closed

[2017-06-08 22:34] zachary-foster commented on #50
Actually, it does make sense for lists and vectors since any value in `all_names()` works with value. I just checked, and it works with both lists and vectors already.

[2017-06-08 22:34] #50 closed

[2017-06-13 17:33] zachary-foster commented on #35
I am pretty much done with what I want for the first CRAN release. There are a few issues for `metacoder` that I am waiting on addressing until I migrate to `taxa`. In particular, I am anxious to address some issues of import/export of data since it is currently the largest deficiency of `metacoder` and is limiting its usage. How much more do you want to do before CRAN on your end?

[2017-06-13 17:41] sckott commented on #35
@zachary-foster awesome. sounds good

There's a set of functions i want to bring over from `binomen` - we've got a few in so far - maybe it makes sense to just finish off implementing the ones i'm already working on and then bring in the rest later. sound good?

hopefully i can finish that up this week

then we can submit, and work on that blog post about all taxonomy pkgs to get out soon :)

[2017-06-13 17:43] zachary-foster commented on #35
Yea, that sounds good to me.

Cool!

[2017-06-13 17:51] zachary-foster commented on #38
Once you have all the functions from binomen that you want for the first CRAN release, do you want to work on this while on skype (or some other service where we can see the same screen) or over the phone? I figure we could do this all at once by going through each function and option in the package index. I think most the names are pretty good, but there are a couple I am not sure about how intui

[2017-06-13 17:54] zachary-foster commented on #19
Do we still want to have others weigh in on this? I can ask a few coworkers.

[2017-06-13 18:12] sckott commented on #38
Yeah, sounds good!, let's do that, can call over slack too

[2017-06-13 18:13] sckott commented on #19
yeah, that'd be great

[2017-06-13 18:29] zachary-foster commented on #19
Hey @knausb and @Tabima, would you mind weighing in on this if you have time? Thanks!

[2017-06-13 18:31] zachary-foster commented on #19
Oh yea, and we would of course like to hear from @grunwald as well.

[2017-06-13 18:40] knausb commented on #19
I think its great that you have engineered both behaviours!  I think that will make the package approachable to those of us who have a more more 'base R' perspective as well as those who want the side effects version.

[2017-06-14 13:58] grunwald commented on #19
I agree with all comments and support the dual approach.

[2017-06-16 23:58] sckott opened #63 "binomen fxns: fail well when not using lazy helpers"
moved to requiring users to specify whether they want to specifically address ranks, taxonomic names, or taxonomic ids via the helpers `ranks()`, `nms()`, and `ids()` e.g.,

[code]

right now, fails not very well when you don't use them

[code]

[2017-06-20 00:42] sckott opened #64 "binomen fxns: validate user entries"
e.g.,

- [x] when using `span()` user either needs to pass in more than one name/rank/id or an operator like `. >` or `:`

stop or so on failing validation test

[2017-06-27 21:46] sckott opened #65 "finish incorporating binomen fxns"
via #12

[2017-06-27 21:48] #12 closed

[2017-06-27 21:48] #63 closed

[2017-06-27 21:48] #64 closed

[2017-06-27 21:49] zachary-foster commented on #19
Think we can close this or do we want more input?

[2017-06-27 21:52] sckott commented on #19
i think we can close

[2017-06-27 21:53] zachary-foster commented on #19
Cool

[2017-06-27 21:53] #19 closed

[2017-06-30 21:19] sckott opened #67 "need to put taxize in Suggests"

[2017-06-30 21:23] zachary-foster opened #68 "make good error if user does not have taxize installed"
https://github.com/ropensci/scrubr/blob/af72c6ddddf8887b04932a2c0d9aa753888fafb6/R/zzz.R#L2-L8

[2017-06-30 21:35] sckott opened #69 "database_list: improve man file"

[2017-06-30 21:39] zachary-foster opened #70 "unexport functions the user does not need"
* data_used
* names_used
* taxon_ids
*taxon_ranks
* taxon_names

[2017-06-30 21:51] zachary-foster opened #71 "rename unobserved to "drop_taxa""
taxonless -> drop_obs

[2017-06-30 22:04] zachary-foster opened #72 "Look into other ids besides numerics ones"
alpha when no official database ids are available.

perhaps also a hash of `ex_taxmap$name_classifications()`

[2017-06-30 22:19] zachary-foster opened #73 "add .list and complain if both are used on contructtors"
* remove `data` from `taxmap` and add `list`
* `taxonomy

[2017-06-30 22:38] zachary-foster opened #74 "make sure all examples are in S3 format"
* obs

[2017-06-30 22:49] sckott opened #75 "with ids/nms/ranks"
fix lazy helpers, when assigning to a variable need to evaluate in original name space or something to get the value, insetad of the variable name

[2017-06-30 23:07] sckott opened #76 "change `taxa_` to `taxa`, and remove alias from pkg level man file"
- and refer pkg level man file

[2017-06-30 23:12] zachary-foster opened #77 "update `taxonomy` docs"
takes char vectors

[2017-06-30 23:26] #67 closed

[2017-06-30 23:26] #76 closed

[2017-07-06 18:52] zachary-foster commented on #72
I found a function in the `oro.dicom` package that can convert from base 10 to any other base, but it still uses numbers for the first 10 values. I modified it to use any list of characters (`letters` by default) and added it to the package.

[code]

The package now uses these for taxon ids.
Still need to use actual database ids when they are available

[2017-07-06 19:06] zachary-foster opened #78 "Warn users initializing `taxmap` with data that has same name as a function"
[code]

This was caused by the `names` function being grabbed by NSE instead of the `names` data

[2017-07-07 00:36] #72 closed

[2017-07-07 00:47] #68 closed

[2017-07-07 00:57] #77 closed

[2017-07-10 07:06] #78 closed

[2017-07-10 07:11] zachary-foster commented on #38
I think this has been done

[2017-07-10 07:11] #38 closed

[2017-07-10 07:11] zachary-foster commented on #35
This seems done too

[2017-07-10 07:11] #35 closed

[2017-07-10 07:18] zachary-foster opened #79 "Make sure that intro vignette is up to date"

[2017-07-11 00:01] sckott opened #80 "Problem in filter_taxa egs"
[code]

[2017-07-11 00:02] sckott opened #81 "Missing fxn"
in check

[code]

[2017-07-11 00:07] #80 closed

[2017-07-11 00:13] #81 closed

[2017-07-11 00:19] #69 closed

[2017-07-11 00:49] #70 closed

[2017-07-11 19:51] #74 closed

[2017-07-11 22:56] #71 closed

[2017-07-11 23:37] #79 closed

[2017-07-12 22:18] #73 closed

[2017-07-13 00:38] sckott opened #82 "span w/ ids/nms/ranks: handle >1 input for statements with operators"
e..g, this now fails

[code]

[2017-07-13 22:50] #75 closed

[2017-07-13 22:50] #82 closed

[2017-07-13 23:33] #54 closed

[2017-07-13 23:40] sckott commented on #65
- [x] `pick()` - pick out one or more taxonomic groups
- [x] `pop()` - pop out (drop) one or more taxonomic groups
- [x] `span()` - pick a range between two taxonomic groups (inclusive)
- [ ] `scatter()` - old definition: make each row in taxonomic data.frame (`taxondf`) a separate `taxon` object within a single `taxa` object
- [ ] `assemble()` - old definition: make a `taxa` object into a `taxond

[2017-07-18 12:55] zachary-foster opened #83 "Add arbitrary data vars to `taxa`"
- [ ] Add a list to store user data in each `taxon`
- [ ] Modify print method of `taxon`
- [ ] Modify print method of `taxa`
- [ ] Modify print method of `hierarchy`
- [ ] Modify print method of `hierarchies`
- [ ] Modify print method of `taxonomy`
- [ ] Modify the constructor of `taxmap` to move data from `taxon` objects to tables / lists. Perhaps add an option to control if data is moved / copie

[2017-07-20 18:52] #57 closed

[2017-07-20 19:20] zachary-foster opened #84 "Consider adding something like `taxonomic_sample` from metacoder"
This is an alternate way to `sample_n_taxa` of randomly sampling taxa, such that there is an equal number of subtaxa per taxon, etc. I am removing it from metacoder for now, but it might need some changes to work in `taxa`. Here is the code:

[code]

[2017-07-20 20:59] zachary-foster opened #85 "`lookup_tax_data` has a bug that prevents using sequence accession numbers"
There is a test for this that works, so I am not sure of the difference, but the following gives a error

[code]

I looked at the code and indeed `taxize::classification` did not have a `db` set. Dont know why it worked before. I have fixed it. @sckott, should we do a bug fix release? Maybe wait a few days and see if any other bugs emerge?

[2017-07-20 21:18] zachary-foster opened #86 "`lookup_tax_data` errors when using unnamed vectors"
[code]

[2017-07-20 21:54] zachary-foster opened #87 "How to deal with multiple taxon ids for one sequence id"
Sometimes there are multiple taxon ids for one sequence id. This currently breaks `lookup_tax_data`.
Another complication is that NCBI does not provide any info on which query goes with which output, so we can only do one id per query given that there could be multiple results per id.

So there is two options:

1) duplicate the query input for each output
2) return just the first

1 is probably th

[2017-07-20 22:04] sckott commented on #87
Sounds good to me.

Maybe we'll find a better solution in the future, and/or maybe NCBI will fix it

[2017-07-21 17:37] zachary-foster opened #88 "repeated inputs do not return repeated outputs in many funcs"
[code]

I think I know what is going on

[2017-07-21 22:13] #85 closed

[2017-07-21 22:13] #86 closed

[2017-07-21 22:13] #88 closed

[2017-07-21 22:42] zachary-foster opened #89 "duplicated results are not input order"
[code]

[2017-07-21 23:25] #89 closed

[2017-07-24 02:42] zachary-foster opened #90 "Think about the best way to handle failed downloads"
This applies to `lookup_tax_data` and `extract_tax_data`.

Currently, failed downloads are assigned to an "unknown" taxon with a warning, but I am not sure it works in all cases and if it maintains the correspondence between datasets and failed queries.

- [x] Check failed "taxon_name" queries
- [x] Check failed "seq_id" queries
- [x] Check failed "taxon_id" queries
- [x] Check that data sets main

[2017-07-26 05:28] zachary-foster opened #91 "Make default dataset for `n_obs` and `n_obs_1`"
When plotting and filtering, it is often useful to plot the number of observations for each taxon using `n_obs` or `n_obs_1`. However, since these require a dataset to be specified, they are not in the NSE list. If a default is added, then they could be used with NSE. Either:

1) If there is one dataset, use that, otherwise error

or

2) Always use the first dataset, error if there are none.

[2017-07-26 14:10] zachary-foster opened #92 "When parsing classifications that have per-taxon info add input id column"
For data like:

[code]

I get results like:

[code]

An `input_index` column would be useful to group rows.

[2017-07-27 19:01] #92 closed

[2017-07-31 10:18] #91 closed

[2017-08-02 16:56] zachary-foster opened #93 "data parsers: Put long, often unused columns last"
* input
* tax_string
* match

Also, put `tax_data` before `class_data` when applicable.

Also, make sure `taxon_id` is always first

[2017-08-02 20:51] zachary-foster opened #94 "Add a way to set taxon names/ranks for a taxonomy/taxmap object"
This could be a generic setter e.g. `set_data`, or individual ones. Taxon names are the priority

[2017-08-04 06:59] #93 closed

[2017-08-10 22:58] sckott opened #95 "What to do with cases with no data/results"
e.g., when using taxize, a user will often have some taxa with matches and some with no matches. We then have to turn the results into `taxa` pkg classes. Right now `taxa` classes can't do no data unless pass in e.g,. empty string  like `""` -

maybe we should explicitly handle this so that "null" classes are supported and are supported when combining classes, etc. (supported could mean for null o

[2017-08-10 23:38] sckott commented on #83
started working on this in e1f1a8f3bd2df3ff91dbf35de5a8490c59c1c0cd (accidentally used commit message I meant to use for `taxize` - what should have said was related to this issue)

- added arbitrary `attributes` to `taxon` - they have to be a named list
- changed print method in `taxon` to print attributes if given
- added `url` input to `taxon_id`
- changed print method in `taxon` to print URL f

[2017-08-11 01:00] zachary-foster commented on #95
Yea, something to think about. This is related to #90.

[2017-08-11 01:41] sckott commented on #95
thx, yep, def. related

[2017-08-17 01:51] zachary-foster opened #96 "Make sure `filter_taxa` maintains order of taxa"
I think I noticed a bug caused by `filter_taxa` reordering taxa that passed the filter.

Before filtering:

[code]

After filtering:

[code]

While this does not invalidate the `taxmap` object, it might break correspondence between taxon order and tables ordered the same way.

[2017-08-17 02:20] zachary-foster opened #97 ""data" argument of `obs_apply` cannot be passed a varaible"
[code]

Somehow this only started happening after I reinstalled `taxa` just now

[2017-08-17 02:30] #97 closed

[2017-08-18 17:19] zachary-foster commented on #95
oops, did not mean to close

[2017-08-23 20:17] zachary-foster opened #98 "Look into replacing class flow chart with DiagrammeR flow chart"
http://rich-iannone.github.io/DiagrammeR/

[2017-08-24 17:42] sckott commented on #98
fine with me

[2017-08-24 19:29] zachary-foster opened #99 "How to handle identical function names in other packages"
For example: We hoped to not have to change the names of either `phyloseq::filter_taxa` or `taxa::filter_taxa`.

This is a continuation of the conversion here:

https://github.com/joey711/biom/issues/26

[2017-08-25 00:05] joey711 commented on #99
Before making design decisions on a package meant to be "core", I highly recommend reading Hadley's field guide to OO in R.

Quick comment, S4 is a complete OO, but uses functional semantics. R5 and R6 use the more common "reference" semantics that you've seen elsewhere. S3 is somewhat incomplete, dispatch not explicit, etc.

http://adv-r.had.co.nz/OO-essentials.html

[2017-08-25 15:27] zachary-foster commented on #99
Thanks @joey711! I have read that a while ago, but it would be a good idea to read it again before starting any S4 programming.

[2017-09-07 18:59] zachary-foster opened #100 "lookup_tax_data: When looking up taxonomy of binomials, only look up genus"
Often, there are many species in a data set sharing a genus.
When looking up the taxonomy from taxon names, it is inefficient to use the full name in many cases since that taxonomy of many species can be inferred from a single query of the genus.
Also, sometimes a genus is in a database while a species is not.
However, this might cause a problem when one genus names is used for multiple genera.

[

[2017-09-07 22:06] zachary-foster commented on #100
Yea, like "Achlya", which is a moth and an oomycete.

[2017-09-07 22:07] sckott commented on #100
possible to allow user to give a higher taxon group ?

[2017-09-07 22:15] zachary-foster commented on #100
That would work well when the user is only looking at one Kingdom, which I expect is usually the case. I think that would have to be handled by `taxize` though, since if there are multiple matches, only one can be returned. If there was a variant on `taxize::classification` that returned the taxonomy of all matches, perhaps with an additional column of numbers to specify which match each rank belo

[2017-09-07 23:36] sckott commented on #100
there is the concept in `taxize::get_*` functions to get all results when > 1 result - and not go through the prompt - but `taxize::classification` has no equivalent.

though perhaps this is close enough:  use `get_*` to get any number of taxon IDs, then pass to `classification`, optionally bind classifications together

or does that not do what's needed for this?

[2017-09-08 16:41] zachary-foster commented on #100
I think that would work. Could add an option to `taxize::classification` named `all_matches = TRUE` that returns that output format. Probably should always have that extra column if `TRUE`, even if only one match is returned so the format is consistent.

[2017-09-08 16:54] sckott commented on #100
Which thing would work?

[2017-09-08 17:28] zachary-foster commented on #100
Sorry for the vagueness. Looking at the code, it looks like `taxize::get_*` are called when a taxon name is supplied and they handle the prompting of the user. An argument could be added to `classification` that allows for multiple returns from  `taxize::get_*` without a prompt, looks up the classification of each, and then rbinds them together with an extra column with the match taxon ID.

[2017-09-08 18:25] sckott commented on #100
Thanks for clarification.

Sounds good up to the point of rbinding together - that would mean a departure from the output format in other cases - and I'd rather not have variable output formats

opened an issue in `taxize` to explore there https://github.com/ropensci/taxize/issues/628

[2017-09-08 18:54] zachary-foster commented on #100
Yea, variable output formats are not great

[2017-09-09 22:04] joey711 commented on #99
May want to also look at this discussion on coercion:

https://github.com/waldronlab/curatedMetagenomicData/issues/96#issuecomment-328232962

And also at the `SummarizedExperiment` class:

https://www.bioconductor.org/packages/devel/bioc/vignettes/SummarizedExperiment/inst/doc/SummarizedExperiment.html

I'm adding some coercion methods to SummarizedExperiment for phyloseq and biomformat packages.

[2017-10-06 19:20] sckott opened #101 "implement mapping to/support for darwin core terms"
http://rs.tdwg.org/dwc/terms/#Taxon

Not sure yet where the best place is to put this support.

May want to not mess with the current functions, that is, allow users that don't want to deal with dwc to not worry about it, but for people that do care we can provide lower level interface or additional parameters to specify things wrt dwc

Some things can likely be automatically mapped to dwc taxonom

[2017-10-06 19:27] sckott commented on #101
Features:

- [ ] serialize to a darwin core archive (using EML in part)?

[2017-10-20 15:49] zachary-foster opened #102 "supertaxa "subset" option does not work with variables"
[code]

[2017-10-20 16:10] zachary-foster commented on #102
I was not able to reproduce this with the test data:

[code]

Yet, if I change the `id` to `x` in my other code, it works. I figured this might be a NSE issue, but there is no other `id` in the environment. Hmmm.....

[2017-12-05 15:59] sckott opened #104 "Failing cran checks"
https://cranchecks.info/pkgs/taxa/

@zachary-foster got email from cran, we need to send a new version fixing these before Dec 19th

[2017-12-06 05:39] zachary-foster commented on #104
Hi @sckott. Ok, sounds good. I want to release an update anyway.

[2017-12-06 18:38] sckott commented on #104
okay, milestone v0.2 then.

I'll get to work on issues i'm responsible for

[2017-12-14 13:18] sckott commented on #104
@zachary-foster is the issue list too long to get a version up by 19th next week https://github.com/ropensci/taxa/milestone/2 ?  If so, can we come up with a slimmed down set that we think is doable.

[2017-12-14 22:39] zachary-foster commented on #104
That might be a good idea. Most look pretty easy, but you can never tell until you start. I say we just start working through the easiest and put off what we don't get done until the next update. I don't think any are essential, besides fixing the CRAN checks. I am also working to get metacoder updated as well. I am hoping to coordinate the releases.

[2017-12-15 05:27] zachary-foster commented on #102
I still cant reproduce this, so I will close for now. I think I was using a `taxmap` object loaded from a .Rdata file, so maybe it was out of date with the package somehow?

[2017-12-15 05:27] #102 closed

[2017-12-15 09:17] #60 closed

[2017-12-15 17:26] sckott commented on #102
seems like a reasonable reason

[2017-12-15 17:56] sckott opened #106 "Automate updating data objects for examples (and tests?)"
via #105

often changes are made to `taxa`, but one (i.e., me) forgets to update the example data objects as well, then checks/tests fail.  Would be neat to automate updating these. What's best approach to do that?

Could have a `make` rule for it. Or something else?

[2017-12-15 23:45] sckott commented on #83
(work on this is on branch https://github.com/ropensci/taxa/tree/taxize-compat-changes  )

@zachary-foster For `taxa` , `hierarchy`, etc. How did you image changing these print methods, seems especially hairy since they are arbitrary, so not sure if you imagined printing number of attributes, their names, something else?

[2017-12-15 23:48] sckott opened #108 "Anything to incorporate from `binomen::strain()` here?"
probably not, but just check again later

[2017-12-15 23:49] sckott commented on #65
strain issue opened #108

[2017-12-15 23:49] #65 closed

[2017-12-16 02:15] zachary-foster commented on #83
Hmmm, I think the best way would be to have multiple "print handler" functions for common types (vectors, tables, functions, etc). These would be in a list named by their target class. If the class of the object is not handled by one of these functions, just its name and class are printed. Maybe its length if it is a list. I think that is how I handled the arbitrary data that can be in `taxmap$dat

[2017-12-16 17:28] sckott commented on #83
okay, makes sense

[2017-12-18 18:55] #95 closed

[2017-12-18 19:15] #96 closed

[2017-12-18 19:54] zachary-foster opened #109 "Name default results of `roots`"
[code]

They should be the same probably

[2017-12-18 20:16] zachary-foster opened #110 "Update `subset` option documentation"
It does not describe how it does NSE or accepts logical vectors

[2017-12-18 20:40] sckott commented on #104
@zachary-foster should we set a goal of submitting by end of day today? like 5 pm or so, since all CRAN maintainers I believe are in Europe, so we should try to get this in before they get impatient

[2017-12-18 20:49] zachary-foster commented on #104
Sure, I am ok with that, but I will probably not many of the new functionality done by then, but thats OK, it not essential. I think just focusing on going over the documentation and getting checks/tests to pass should be the main goal. Looking at the news.md, there are quite a few upgrades already since last version.

[2017-12-18 20:53] #56 closed

[2017-12-18 20:55] sckott commented on #104
Okay. I do need to fix that tabular output problem, and make sure the checks will pass

[2017-12-18 22:16] sckott commented on #104
`Taxonomy` is inherited in `Taxmap`, so need to make sure `get_data_frame` works there

[2017-12-18 22:37] zachary-foster commented on #104
From how you have it set up, I think it will, since `get_data` works the same in `taxonomy` and `taxmap`, but most of the time, user-defined variables will not have a one-to-one relationship with taxa. It will still work if they only specify variables from the same table, but if they mix those with "taxon_names", for example, they will get an error.

It might be possible to make it work with  outp

[2017-12-18 22:45] sckott commented on #104
That looks helpful. I've been hacking on a solution for taxmap objects as well, but not sure it will be very robust in the bit of time we have left. Okay to just have a stop message when variables are not of equal length?  Or just remove `get_data_frame` for now until it works well for taxonomy and taxmap objects?

[2017-12-18 22:54] #110 closed

[2017-12-18 23:06] sckott commented on #104
okay, updated `get_data_frame`, added simple tests for taxonomy and taxmap, and fixed example.

[2017-12-18 23:08] zachary-foster commented on #104
Yea, I am fine with either just having it error when lengths are not equal or saving it for the next version. As it is, it is great for `taxonomy` objects, but has limited use with most of the dataset I use in `taxmap` objects, but there are definitely some tables I use in `taxmap` objects that are one-to-one with taxa by design that it would work well with.

 It would be nice to be able to get it

[2017-12-18 23:08] sckott commented on #104
checking the pkg on win builder and rhub

[2017-12-18 23:08] zachary-foster commented on #104
Cool!

[2017-12-18 23:28] sckott commented on #104
all is good with winbuilder - rhub failed on all, but unrelated to the pkg itself. popping over the git tag for `v0.1` to see if I can see where those errors are coming from, but doesn't seem like it's happening anymore, so i guess its sorted

[2017-12-18 23:31] zachary-foster commented on #104
Nice. I will go through the docs over the next hour and maybe fix that roots issue, but nothing that should break any checks

[2017-12-18 23:44] sckott commented on #104
sounds good.

dropped into tag `v0.1` and it seems the error is coming from this internal fxn https://github.com/ropensci/taxa/blob/master/R/taxonomy--class.R#L1001 - but the offending line https://github.com/ropensci/taxa/blob/v0.1.0/R/taxonomy--class.R#L924 has been reworked , so i imagine you saw this problems and already fixed

[2017-12-18 23:50] sckott commented on #58
Partly implemented. Works in `Taxonomy` objects, but will simply stop with error if variables not of the same length - Doesn't work with current `ex_taxmap` dataset.

Fix this in next cran push

[2017-12-18 23:52] zachary-foster commented on #104
Hmm, I vaguely remember reworking that. I think it is from this commit:

https://github.com/ropensci/taxa/commit/99c5e76ddb9c6e8ee19a7eec75c10a45d0613f67

[2017-12-18 23:54] zachary-foster commented on #58
I think that is fine. It works if you pick vars from the same table:

`ex_taxmap$get_data_frame(c("n_legs", "dangerous"))`

[2017-12-19 00:01] sckott commented on #58
At least that works 😄

[2017-12-19 00:16] sckott commented on #104
looks like the `library(metacoder)` is causing problems https://travis-ci.org/ropensci/taxa/jobs/318341818#L1131

[2017-12-19 00:17] sckott commented on #104
we'd have to list it in suggests if you want to keep it in the examples. if you put that example in readme, then we don't need to include it 😏

[2017-12-19 00:20] zachary-foster commented on #104
Ok, that I will take it out for now. Eventually, I want to do a show a similar example highlighting all taxa that are `roots`, `stems`, etc, but thats probably better in the vignette anyway.

[2017-12-19 00:23] sckott commented on #104
okay, are you doing that? or should I. we're ready to go unless you wanted to get this  https://github.com/ropensci/taxa/issues/104#issuecomment-352591462  in before we push

[2017-12-19 00:24] zachary-foster commented on #104
Yea, I just did locally as I am going through the docs

[2017-12-19 00:43] #109 closed

[2017-12-19 00:45] zachary-foster commented on #104
Ok, I think I am done. I pushed my changes.

I get the following when I test

[code]

Is this a problem?

[2017-12-19 00:45] zachary-foster commented on #104
R CMD check passes for me though

[2017-12-19 00:46] sckott commented on #104
checking

[2017-12-19 00:49] sckott commented on #104
i don't get that, looks good to me, will send off now

[2017-12-19 00:52] zachary-foster commented on #104
Cool, thanks! I am glad to have this updated. Now I just need to get the metacoder update released that plays nice with `taxa`. I have been using the dev versions of  taxa and metacoder for my research and it has been really nice to use. I also use taxa for a few side projects, including that field guide package I told you about, which is coming along nicely if slowly, so I have tested taxa a lot

[2017-12-19 00:56] sckott commented on #104
Nice, that's awesome you're using it so much. it will get better so much faster with the person working on it also using it.

okay to move all issues not dealt with in this milestone to `v0.3` ?

[2017-12-19 00:59] zachary-foster commented on #104
Yea, sounds good

[2017-12-19 01:06] sckott commented on #104
ok

[2017-12-19 01:06] #104 closed

[2017-12-21 18:01] zachary-foster opened #113 "`parse_tax_data`: incorperate rank info"
Currently, the `Taxon` objects created for the `taxmap` output of `parse_tax_data` do not add rank information, although it is often available in various forms. This means `taxon_ranks()` does not work as expected (see https://github.com/grunwaldlab/metacoder/issues/188 and https://github.com/grunwaldlab/metacoder/issues/189).

The challenge here is the diversity of inputs to `parse_tax_data` and

[2017-12-21 22:22] #113 closed

[2017-12-23 23:48] zachary-foster commented on #83
Hi @sckott, I made the print method system I described above for taxmap objects in my most recent commit:

https://github.com/ropensci/taxa/blob/master/R/taxmap--printers.R

I thought it was already set up that way, but I guess I just imagined it. It might be a useful starting point for the taxa attributes printing or it might work for both the taxa and taxmap print methods. Not sure yet

[2018-01-01 20:05] zachary-foster opened #114 "Taxmap print method adds `NA` when character vector is of long strings"
[code]

[2018-01-01 20:45] #114 closed

[2018-01-01 20:54] zachary-foster opened #115 "Add length and item names to taxmap print methods for lists and vectors"
Currently, it just shows the values, like:

[code]

Something like this would be good:

[code]

[2018-01-02 18:51] sckott commented on #83
thanks, will take a look

[2018-01-12 04:03] zachary-foster opened #116 "filter_taxa errors when no taxa pass filter"
[code]

[2018-01-12 04:16] #116 closed

[2018-01-12 06:48] zachary-foster opened #117 "`filter_taxa`: make good error msgs when invalid inputs are given"
Currently it gives pretty cryptic messages.

[2018-01-12 07:05] #117 closed

[2018-01-17 17:03] zachary-foster opened #118 "`lookup_tax_data` thinks character taxon ids are names"
[code]

Does not work. It looks like `taxize::classification` thinks they are taxon names.

[2018-01-17 18:32] #118 closed

[2018-01-17 18:53] zachary-foster opened #119 "`stem` should not include first branch node"
Currently, `stem` returns all taxa up until and including the first branch. It should not include the first branch, since its primary use is to trim uninformative ranks.

[2018-01-17 19:12] #119 closed

[2018-01-18 02:06] zachary-foster opened #120 "Add `n_leaves`/`n_tips` function"
This would be used like `n_subtaxa`, but would only count the tips of the tree.

[2018-01-18 03:15] zachary-foster opened #121 "`mutate_obs`: create new vector/table/list if `target` is unknown"
Curerntly, `mutate_obs` can only add columns to tables. I often want to create a variable for plotting that has per-taxon values, but there is not a per-taxon value table, so I cannot add it with `mutate_obs`.

If `target` is not present the following could happen:

* If the value given is not named and is a vector, then it is stored as a vector with the name determined by `target`. EG: `mutate_ob

[2018-01-18 06:07] sckott commented on #121
That seems reasonable to me.

Does taxmap already know how to deal with a standalone vector, e.g., in your first example abovee there's a new vector - is it clear how to map that to the taxa ?

[2018-01-22 19:52] grabear opened #122 "Cross package error with metacoder/taxa. Filter_taxa throws taxon IDs do not exist."
Hello @zachary-foster I'm having an issue with [metacoder's parse_phyloseq function](https://github.com/grunwaldlab/metacoder/blob/d712d7951e2b5ea00e06c5c13fa6bdf9799a126a/R/parsers.R).

When using a phyloseq object that contains a data from a phylogenetic tree, the parse_phyloseq function returns the following:
[code]

When using a phyloseq object without a phylogenetic tree my code runs fine:
[c

[2018-01-22 19:57] grabear commented on #122
Not a huge issue as you can just remove the phylogenetic tree.

[2018-01-23 08:59] zachary-foster opened #123 "Figure out best way to handle filtering when there are datasets with no taxon IDs"
They are currently ignored, but a warning would be nice. Especially if there are a mix of taxon IDs and invalid IDs

[2018-01-23 09:10] zachary-foster commented on #122
Ahh yes, I added some taxon ID validation but it assumed that all datasets would be classified by taxon ID (which is not true). I think I fixed it. You will likely see some warning messages now when filtering. In most cases, there is no advantage to having data not classified by taxon ID in a `taxmap` object, but the sample and phylo data is in the output of `parse_phyloseq` because thats the best

[2018-01-23 19:44] #115 closed

[2018-01-24 06:19] zachary-foster opened #124 "Add color/formatting to output of print methods"
@sckott, what do you think of adding color/formatting to the output of print methods using the `crayon` package? Do have any experience with this? Do you know of potential problems with consoles that do not understand the color codes?

I was trying to figure out how the `tibble`s are color coded now, but I don't see that code in the `tibble` package even though it imports `crayon`.

[2018-01-24 06:23] sckott opened #125 "Add codemeta file"
via https://github.com/ropensci/codemetar/

[2018-01-24 06:24] sckott commented on #125
and ORCID ids

@zachary-foster do you have an ORCID id?

[2018-01-24 06:28] sckott commented on #124
sounds good to me. not sure how it works - we should do it if possible

[2018-01-24 06:30] zachary-foster commented on #125
Yea I do, but I don't use it much. Is this what you need?

 https://orcid.org/0000-0002-5075-0948

[2018-01-24 06:34] zachary-foster commented on #124
Cool, I made a few things bold already. Its really easy, but I don't know if it will introduce edge case problems

[2018-01-24 21:58] sckott commented on #125
that's it, thanks

[2018-01-24 22:08] #125 closed

[2018-01-31 04:52] zachary-foster opened #126 "new function: `leaves_apply`"
Like `subtaxa_apply`. I think it will be useful for metacoder issue [#207](https://github.com/grunwaldlab/metacoder/issues/207)

[2018-01-31 05:06] zachary-foster opened #127 "refactor `leaves` to return a vector per taxon like `subtaxa`"
Leaves currently does:

[code]

Which makes sense, but issue #126 assumes that there is a list output with one vector like that above per taxon, like `subtaxa` does:

[code]

I can add the `simplify` option to `leaves`, so it can work like it did in the past:

[code]

If we want to maintain the same behaviour as before, the default can be `simplify = TRUE`, although that would be different than th

[2018-01-31 05:42] zachary-foster opened #128 "Make default `value` `"taxon_indexes"`"
It is currently  `NULL` , which does not return names.

[code]

[2018-01-31 06:29] zachary-foster opened #129 "Consolidate documentation and code for shared options"
Options like `value` and `simplify` are in many functions (e.g. `subtaxa`) and work identically and have identical documentation (or should), so it would be nice to make sure their implementation is broken out into a function and their documentation is in one place and then somehow referenced for each so changes can be made in one place.

- [ ] value
- [ ] simplify

[2018-01-31 07:13] #120 closed

[2018-01-31 07:13] #126 closed

[2018-01-31 07:13] #128 closed

[2018-01-31 17:43] sckott commented on #124
cool to see the colors 🌈

[2018-01-31 19:52] zachary-foster commented on #124
Nice! I think the colors will help with these complex print methods. Feel free to change the specific styles here:

https://github.com/ropensci/taxa/blob/a7ac6b3fdf33e24d777d0e066461dd074599bf32/R/taxmap--printers.R#L357-L413

I am still not sure about the best styles to use for each part

[2018-01-31 19:58] sckott commented on #124
I'm not sure what's best either. maybe they have best practices docs somehwere?

[2018-02-05 22:55] arendsee opened #130 "Relationship with `taxlist`"
Just curious, what is the relationship between `taxa` and `kamapu/taxlist`? The focus of the two packages seems somewhat different. Perhaps we could say `taxa` is focused on *beta taxonomy* and `taxlist` on *alpha taxonomy*. Is there any potential for connecting the two packages (e.g., using `taxlist` inside `taxa` or adding functions to convert between the two systems)?

I'm currently not involve

[2018-02-06 00:23] sckott commented on #130
Good question @arendsee

I still have not thought much about how the two compare. A few thoughts after having a quick look:

- not sure about the beta vs. alpha thing, @zachary-foster ?
- The S3/R6 approach here is quite different from the S4 approach in taxlist (there's strong feelings on both sides I imagine). if we wanted to provide fxns here for converting taxa format to taxlist, we might have

[2018-02-06 17:48] zachary-foster commented on #130
None at the moment. I have never heard of it before, but there is a lot I have never heard of so that does not mean much.

I might see what you mean. The `taxmap` and `taxonomy` classes `taxa` implements are focused on a whole "taxonomy" with or without explicit rank information. The `hierarchy` and `taxon` classes of `taxa` are more like the `taxlist` classes: They are independent taxa. The `taxl

[2018-02-06 23:23] zachary-foster opened #131 "`parse_tax_data` should be able to generate default column names"
If the input to `class_key` is unnamed, I see:

[code]

[2018-02-07 06:10] zachary-foster opened #132 "Need better error msg when invalid colum specified"
[code]

[2018-02-07 13:53] kamapu commented on #130
well, it is not long time ago I realized the existence of `taxa` and I was a bit disappointed, since I was planing to submit `taxlist` to **rOpenSci**. My impression is that both, `taxlist` and `taxa` were aiming to the same task but using different approaches. This makes `taxlist` not eligible for **rOpenSci**, as I understand it.

To the general discussion I add some bullets in defense of `taxli

[2018-02-07 21:15] zachary-foster commented on #130
I am sorry to hear that. That kind of thing is always frustrating. Its a shame we did not talk before our packages were pretty much mature, otherwise we might have merged our efforts and not done redundant work. Perhaps @sckott has more to add regarding rOpenSci policy

Sorry for misunderstanding. I looked into vegtable to get an idea of how taxlist is used and found the following taxlist in it:

[2018-02-08 22:55] zachary-foster commented on #124
I searched for best practices after you suggested it and did not find any. Currently, my strategy is to copy the `tibble` print methods. Unfortunately, I cant seem to find a way to print a indented tibble with colors. That would be nice for displaying tibbles stored in `taxmap` objects.

[2018-02-09 02:30] sckott commented on #124
okay. i guess if can't indent the table, just a newline or two to set it off visually?

[2018-02-09 11:14] kamapu commented on #130
The data set *Kenya_veg* is a bit outdated. To be honest, a bad example for a consolidated database, on the other side the common case of databases imported from **Turboveg**.
It will better to look at *Easplist* in `taxlist`.

Yes by definition of the class. Though "taxonViews" and "taxonTraits" may be empty (data frames with no rows). Check the prototype using `new("taxlist")`

There is the `Inh

[2018-02-09 14:11] zachary-foster commented on #124
That would work. Although I can get them to indent without color using :

https://github.com/ropensci/taxa/blob/cac27b112f6fa89851c00ac332467ee49d4878e4/R/taxmap--printers.R#L37-L47

I then was trying to add some color back, but I doubt it would be worth the trouble to completely replicate the color. I mostly just want the taxon IDs highlighted. I managed to highlight the taxon ID column name, so

[2018-02-09 14:16] zachary-foster commented on #124
It would be especially cool if only valid taxon IDs were colored as taxon IDs so people can tell quickly which datasets are mapped to taxa and if there is anything wrong with the IDs (e.g. a taxonless data after filtering with `drop_taxa = FALSE`). However, I am not sure if it would be too much of a performance cost to check if IDs are valid every time a big object is printed.

[2018-02-09 14:22] zachary-foster opened #133 "Consider allowing columns in `taxmap` tables to be mapped to taxa"
Currently, only rows of tables can be mapped to taxa by having a `taxon_id` column.
Some packages (e.g. `vegan`) assume taxa are in columns.
Its no big deal to `t()` the table, but it would be pretty cool if columns could be mapped to taxa as well.
If all column names match taxon IDs, then `taxa` could automatically assume that taxa are mapped to columns.
Would also allow for pair-wise matrices of

[2018-02-09 19:24] sckott commented on #124
valid in what sense?

[2018-02-09 19:25] zachary-foster commented on #124
All should be either an ID in the edge list / `names(obj$taxa)` or `NA`.

[2018-02-09 19:55] sckott commented on #124
ah, okay, yeah, seems like it'd be fast enough

[2018-02-09 21:03] zachary-foster commented on #124
Ok cool

[2018-02-14 08:26] kamapu commented on #130
I'll out of office for around 2 months but after that, we should think about compatibility between `taxa` and `taxlist`, especially regarding functions to convert data from one to another object class.

[2018-02-14 10:09] zachary-foster commented on #130
Sounds good @kamapu! From what I have seen, it should not be too difficult.

[2018-02-14 19:49] zachary-foster commented on #127
This is done

[2018-02-14 19:49] #127 closed

[2018-02-19 20:08] zachary-foster commented on #122
Hello @grabear, has this been fixed? Can we close? Thanks

[2018-02-19 20:58] #132 closed

[2018-02-20 00:43] grabear commented on #122
Yes!  It's working perfectly, now.  Thanks for the help with this one. @zachary-foster

[2018-02-20 04:16] zachary-foster commented on #122
Cool, no problem!

[2018-02-20 04:16] #122 closed

[2018-03-02 06:55] #131 closed

[2018-03-06 08:07] VGalata opened #135 "ENTREZ API key for NCBI database in extract_tax_data"
I use `taxa::extract_tax_data` to retrieve the taxonomy of BLAST search hits from the NCBI database. It worked great until last week. However, it stopped working for me saying that I need to provide an ENTREZ API key. Unfortunately, I could not find any matching parameter for an API key in `taxa::extract_tax_data`.

Code:
[code]

Output:
[code]

Used version `taxa_0.2.0.9113`

Thank you in advance

[2018-03-06 17:33] sckott commented on #135
thanks for your question @VGalata

Get an NCBI API key at xxx

Then store an environment variable with the name `ENTREZ_KEY`. Can do that in your current session like `Sys.setenv(ENTREZ_KEY = "yourkey")`, or permanently across all R sessions (the preferred way) by putting an entry like `ENTREZ_KEY=yourkey` in your `.Renviron` file or similar file like `.bash_profile` or `.zshrc` (not sure what the

[2018-03-06 19:43] sckott opened #136 "Represent changes to taxonomy through time?"
question from @noamross

he asks if there is a standard way of representing changes to taxonomy: species being merged, split, added, deleted, etc, over time

@zachary-foster as far as i know we don't have anything like this in `taxa`, correct?  Do you deal much with changes in names through time in taxa you work with?

I don't think the darwin core standard deals with this, and not sure of any dat

[2018-03-06 20:26] noamross commented on #136
Thanks @sckott.  Some more info.

We're considering making a package to wrap data from ICTV, which defines viral taxonomy.  This is a pretty volatile taxonomic area, and there are annual releases of the . So if a virus name is found in an old publication, it may not be in the current taxonomy.  We'd like to be able to resolve it to it's place in the current taxonomy. So a question the package migh

[2018-03-06 22:24] zachary-foster commented on #136
Hi @noamross, this is an interesting problem. I can imagine a couple of solutions, depending on how flexible things need to be. The easiest I can imagine would be to concatenate all of the mater species lists:

https://talk.ictvonline.org/files/master-species-lists/

into a single table with an extra column indicating the version number and using `parse_tax_data` like so (only one dataset shown):

[2018-03-06 22:24] zachary-foster commented on #136
Oops did not mean to close

[2018-03-07 00:27] zachary-foster commented on #135
Thanks for the report. It should work without a key as well, but I just checked and it is not for some reason. It might be we are making two back-to-back requests using different services without the 0.3 sec pause somewhere. Perhaps in the code I recently changed in taxize? I will look into it.

[2018-03-07 00:32] #124 closed

[2018-03-07 00:33] zachary-foster commented on #124
Seems to be working now. Things now only get the "taxon ID" green font if the are all valid taxon ids. If there is a "taxon_id" column, but  there are invalid ids, then the column header gets an angry red color.

[2018-03-07 07:26] VGalata commented on #135
@sckott Thank you very much for the advice! Settings the environment variable (in my case in the `.bashrc` file) solved the issue.

@zachary-foster Thanks for looking into it!

[2018-03-07 07:26] #135 closed

[2018-03-07 18:39] zachary-foster opened #137 "For fuzzy matching of taxon names, report name changes"
Something like

[code]

[code]

[2018-03-07 23:12] noamross commented on #136
Thanks this helpful think-through, @zachary-foster!  It looks like, internally, there is a stable `itis_id` that describes the same taxon across years, as well as a `taxon_id` that is unique for every node across years.  So this can do the job that would otherwise require looking up the accession numbers. I'm working on pulling all this information out and I'll report back how I do using **taxa**

[2018-03-11 22:09] sckott commented on #101
current feeling is that we may want to implement a sister pkg for dwc serialization support, but will have a play and see how it goes

[2018-03-14 17:22] #123 closed

[2018-03-19 04:46] lindsayveazey opened #138 "Possible issue with defining hierarchies- error when calling hierarchy"
sessionInfo()
R version 3.4.3 (2017-11-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices ut

[2018-03-19 06:05] zachary-foster commented on #138
Hello @lindsayveazey, thanks for the report!

Bug confirmed on CRAN and dev versions:

[code]

[2018-03-19 06:16] zachary-foster opened #139 "Add setters/accessors to basic classes"
For

* taxon name
* taxon id
* taxon rank

In

- [ ] Taxon
- [ ] Taxa
- [ ] Hierarchy
- [ ] Hierarchies

This would have prevented #138 and will make some other things easier.

[2018-03-19 06:29] zachary-foster commented on #138
Hi @lindsayveazey, I think I have it fixed. Want to install the dev version and test it out?

`devtools::install_github("ropensci/taxa")`

[2018-03-19 06:30] #137 closed

[2018-03-19 08:37] zachary-foster opened #140 "Reduce spamming of "No API key" error in `lookup_tax_data`"
It just needs to be printed once, but it is printed once for each taxon.

[2018-03-19 09:12] zachary-foster opened #141 "Add progress bars for `lookup_tax_data`"
Perhaps also a warning for large queries

[2018-03-19 22:17] lindsayveazey commented on #138
You fixed it! Works fine for me now. Bravo, looking forward to introducing this package to my class tomorrow.

[2018-03-19 22:20] zachary-foster commented on #138
Great! Let me know if you find other issues

[2018-03-19 22:20] #138 closed

[2018-03-20 00:03] zachary-foster commented on #141
done

[2018-03-20 00:03] #141 closed

[2018-03-20 00:03] zachary-foster commented on #140
done

[2018-03-20 00:03] #140 closed

[2018-03-20 20:55] lindsayveazey opened #142 "Another tutorial error"
R version 3.4.3 (2017-11-30)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices utils     datase

[2018-03-20 22:52] zachary-foster commented on #142
Sorry about that. I just introduced that bug when trying to fix another one. It will be gone soon. Thanks for the report!

[2018-03-20 22:58] zachary-foster commented on #142
Should be fixed. Want to reinstall and check?

[2018-03-21 16:55] zachary-foster commented on #139
This seems like a good use of [active bindings](https://cran.r-project.org/web/packages/R6/vignettes/Introduction.html)

[2018-03-21 19:28] zachary-foster commented on #139
Hey @sckott, what do you think the accessors should return? Currently, I am using active bindings. I can think of 3 options (using the Taxon class for these examples):

1. A character vector. for example my_taxon_obj$name returns "My tax name". This is what I think most users will expect and use most often, but it does not make it obvious how to manipulate the TaxonName object (e.g. the database f

[2018-03-22 04:14] lindsayveazey commented on #142
+   name = taxon_name('Poa annua'),
+   rank = taxon_rank('species'),
+   id = taxon_id(93036),
+   authority = 'Linnaeus'))

<Taxon>
  name: Poa annua
  rank: species
  id: 93036
  authority: Linnaeus

# ^ output looks good, well done and thanks! @ewbarba

[2018-03-22 04:14] #142 closed

[2018-03-22 04:29] sckott commented on #139
i think it makes sense to store in a consistent way.

as what's returned, I lean towards No. 2, an object, but I haven't played with either to see what it feels like. Do you have a preference?

[2018-03-22 09:03] zachary-foster commented on #139
Yea, that would simplify things. The original reason for making vectors and objects interchangeable was to reduce memory usage in large data sets. For taxon objects:

[code]

Even so, I am starting to lean to think the simplicity might be worth it.

I think 2 would be good as long as there is a good way of getting the vector information for `taxa` objects, because I think thats what will be used m

[2018-03-23 05:56] zachary-foster opened #143 "When `filter_obs` removes taxa should it remove data for those taxa from other data sets?"
Currently, running `filter_obs(obj, "my_data_set", some_condition, drop_taxa = TRUE)` will remove taxa that no occur in  "my_data_set" from the `taxmap` object, but it does not remove data in other data sets associated with removed taxa, so those end up with invalid taxon IDs.

1. Only remove taxa that no longer appear in ALL data sets. The user could then use `filter_taxa` to remove all taxa from

[2018-03-26 23:03] sckott commented on #139
That plan sounds good @zachary-foster  - i'll have a look at the changes as used in taxize dev branch to see if it creates any issues

[2018-03-29 08:53] zachary-foster commented on #143
Solved this by using `filter_taxa` in `filter_obs`. I dont think `filter_obs` cannot return invalid taxmap objects now

[2018-03-29 08:53] #143 closed

[2018-03-29 21:50] zachary-foster commented on #101
I dont think I understand this issue. Can you give me some background? Thx!

[2018-03-29 22:03] sckott commented on #101
So Darwin Core is a standard for data and metadata around biodiversity data, and it includes taxonomy

http://rs.tdwg.org/dwc/terms/index.htm#taxonindex includes lots of terms

taxonID | scientificNameID | acceptedNameUsageID | parentNameUsageID | originalNameUsageID | nameAccordingToID | namePublishedInID | taxonConceptID | scientificName | acceptedNameUsage | parentNameUsage | originalNameUsage

[2018-03-29 22:26] zachary-foster commented on #101
Sounds cool, thanks!

[2018-03-29 22:30] sckott commented on #101
the only question i got on my talk about taxonomy in R at TDWG in ottawa last fall was about whether we'd considered darwin core

[2018-03-29 22:32] zachary-foster commented on #58
Thinking about this more, I am not sure it makes sense to try to make tabular output for `taxmap` that includes multiple user-defined datasets, since we cant know how these data sets relate to eachother. For `taxonomy`, all the per-taxon data in `get_data` would work. For one tabular/vector dataset in a `taxmap` object, it could return the tabular of the `taxonomy` part of the object merged with t

[2018-03-29 22:38] zachary-foster commented on #101
Seems like a good application of `taxa`, particularly `taxmap`. I am working on similar pairs of parsers and writers for formats used in microbiome research in `metacoder`, so people can read, edit, save. But yea, probably best in another package since it is for a specific format

[2018-03-30 04:41] sckott commented on #101
will see if fits in `finch` first

[2018-03-31 00:39] zachary-foster commented on #90
Instaed of adding an option to remove failed downloads, I said how to do it in the help.

[2018-03-31 00:39] #90 closed

[2018-03-31 19:54] zachary-foster opened #144 "Add regexes for `database_list`"
- [ ] ncbi
 - [ ] gbif
 - [ ] bold
 - [ ] col
 - [ ] eol
 - [ ] nbn
 - [ ] tps
 - [ ] itis

[2018-03-31 20:07] zachary-foster opened #145 "Add database taxon ID checking via regex/taxize"
@sckott, what do you think about this:

1. A method called `check_db_id` of the `taxon_database` class that takes a `taxon_id`. It could optionally use `taxize` to actually check via an API call.
1. Methods in `taxon`, `hierarchy`, and `taxonomy` that call that method on all their taxa

When do you think this checking should occur?

3. on constructors
3. setters of `taxon_id`, and `taxon`, and `ta

[2018-04-01 04:01] zachary-foster opened #146 "Deemphasize non-data parts of print methods like tibbles do"
![untitled](https://user-images.githubusercontent.com/6090555/38169721-95622f5c-3526-11e8-9a2c-b8b013dc02af.png)

[2018-04-01 04:09] zachary-foster commented on #146
"non-data" here would be any thing that is not a :+1:

* taxon id
* taxon name
* dataset name
* dataset content

[2018-04-01 04:28] zachary-foster opened #147 "taxmap/taxonomy print method change idea"
[code]

Could be:

[code]

Easer to understand I think and bit better use of horizontal space, although more vertical space. ranks would only show up if set.

What do you think @sckott?

[2018-04-01 04:31] zachary-foster opened #148 "zero length vectors mess up print method a bit"
[code]

[2018-04-01 04:33] zachary-foster commented on #148
so do zero length tables:

[code]

[2018-04-01 04:49] #121 closed

[2018-04-02 16:11] sckott commented on #147
I like the idea. Are there always the same number of edges as taxa?

[2018-04-02 16:13] sckott commented on #144
can you explain a bit more?

[2018-04-02 16:16] sckott commented on #145
Does `check_db_id` check if it's a valid/known ID to the specific data source?  Or some other kind of check?

[2018-04-02 16:49] zachary-foster commented on #147
Nice!

Yes, since "root" taxa have a parent of `NA`.

[2018-04-02 16:51] sckott commented on #147
Okay, then all sounds good, was just thinking if taxa and edges may not be the same, but not a problem

[2018-04-02 16:58] zachary-foster commented on #145
It would check if the ID conforms the the regex we set for whatever data source is specified by the `taxon_database` object. A `taxon` object would check the `taxon_database` object in its `taxon_id` object for which database it is from and use the regex there to determine what a valid ID is.

The  `taxon_database` is one place where it might make sense to allow for vectors that match a name in `d

[2018-04-02 17:02] zachary-foster commented on #144
Currently, `database_list` just has placeholders for the rergexes:

[code]

We dont use `database_list` currently, but we probably will once some kind of taxon ID validity checking is added. So when a user does something like : `taxon_id(id = "not valid", database = "ncbi")` they get an error.

[2018-04-02 17:16] sckott commented on #144
ah right, forgot about those

[2018-04-02 17:55] zachary-foster commented on #144
What do you think about only using the `taxon_database` class for that list and forcing the user to pick a database name from that list instead of storing  `taxon_database` objects? If they are using a custom database, they can either not specify a taxon database, or add their own `taxon_database` object to a local version of list.

It seems like up to three `taxon_database` objects per taxon obje

[2018-04-02 22:27] sckott commented on #145
regex checking seems safe enough where it wouldn't add to much time, but API calls would have to be designed to fail safely i guess

[2018-04-03 21:48] sckott commented on #144
Yeah, it does make sense to try to reduce memory usage. agree that most cases will probably be each each of name, id and rank being from same database

[2018-04-04 16:11] zachary-foster opened #149 "Consider moving CONDUCT.md to .github directory"
... as that directory is already used for CONTRIBUTING.md

This was a suggestion from a reviewer of the `taxa` paper in F1000. Thoughts @sckott?

[2018-04-04 16:12] zachary-foster opened #150 "Add proper MIT License in LICENSE file"
This was a suggestion from a reviewer of the taxa paper in F1000.

[2018-04-04 16:15] sckott commented on #149
not sure - I've only seen it at the top level of a repo - we could experiment (at top level vs. in .github folder) and see if it gets picked up when you open a new issue in the right sidebar - it doesn't get picked up right now at all because of the thing below

related, we should change it's name to `CODE_OF_CONDUCT.md`  as github will pick it up then - e.g., https://github.com/ropensci/taxa/comm

[2018-04-04 16:16] sckott commented on #150
yeah, it's tough one because CRAN wants the dumb one that all R pkgs have, but then if you add another license file (e.g., `LICENSE-MIT` or similar) github i think will then just give up cause it doesn't know which license file to use

[2018-04-04 16:21] zachary-foster opened #151 "Add pkgdown website and reduce readme"
This was a suggestion from a reviewer of the taxa paper in F1000.

I would like to add a website, but it might make sense to wait until we have one or two more vignettes done  (the second is still being worked on). Any additional vignettes will be added with links. I would be ok with reducing the readme once we have a website up with documentation up that we can link to.

[2018-04-04 16:23] zachary-foster opened #152 "Consider moving vignette figures to “vignettes/figures” subdirectory for clarity"
This was a suggestion from a reviewer of the taxa paper in F1000.

[2018-04-04 20:44] zachary-foster commented on #150
Hmm, ok, thanks for the info. I don't know much about this. I don't think it is essential though; the reviewer said it was a "minor issue"

[2018-04-04 20:45] zachary-foster commented on #149
This was also a "minor issue", so whatever works will be fine I think. I will try renaming it and see if it makes github happy

[2018-04-04 20:48] zachary-foster commented on #149
Yay, github is now happy

[2018-04-04 22:03] sckott commented on #150
I agree that i wish we could have a proper license file and for github to detect it so it shows up in the top license info thingy, we should look around and see if there's any solution

[2018-04-05 00:26] zachary-foster opened #153 "Add warning when a duplicated name is accessed with NSE"
This  can happen when there are two tables in a `taxmap` object that share column names. It is common when one table is a transformation of the other. It can be confusing since it is not clear which one is being accessed. The warning should say which was used.

[2018-04-05 00:34] zachary-foster opened #154 "Consider allowing the data set to be specified when using NSE"
This would be a solution to the problem described in #153. Say we have:

[code]

Then, in:

[code]

`count` is ambiguous and would generate a warning (#153) and recommend that the user could specify the dataset like so:

[code]

For a single operation, this would be equivalent to:

[code]
However, when a series of filters is piped together with `%>%`, `obj$data$abund$count` might be "outdated" if

[2018-04-05 08:44] peterdesmet commented on #150
Does CRAN look at the LICENSE file (where GitHub looks) or in the license attribute in the DESCRIPTION?

https://github.com/ropensci/taxa/blob/daf5b84ea33cfd85f814d1a114a010662d394bb2/DESCRIPTION#L21

Was also wondering (for our packages), if "MIT + file LICENSE" is a recommended practice?

[2018-04-05 14:46] zachary-foster commented on #150
I think it looks at the DESCRIPTION. It looks like we have it set up the way CRAN wants:

https://cran.r-project.org/web/licenses/MIT

Its a bit cryptic, but the "MIT + file LICENSE" is mentioned

[2018-04-05 14:58] peterdesmet commented on #150
Hmm, so where does the license text from that template go? Because that text would get it recognized by GitHub.

[2018-04-05 15:45] #153 closed

[2018-04-05 15:46] sckott commented on #154
Will this solution scale ? e.g, if a user has 1000 tables in the object. I guess each table does have to have a unique name, correct?

[2018-04-05 16:01] zachary-foster commented on #154
I don't think it will be a problem computationally, but it would certainly be confusing.

Ahh yea, I did not think about that. Good point. Yes, each table would need a unique name. If you had many unnamed tables, then NSE would not be a good way to access that data anyway however. The user can always use the `data` list directly in that case.

[2018-04-05 16:05] sckott commented on #154
right, so should we enforce unique table names then?

[2018-04-05 16:06] zachary-foster commented on #150
It the LICENSE file required by CRAN? Can we add it .Rbuildignore and put what we want in it?

[2018-04-05 16:13] zachary-foster commented on #154
I dont think so, just have NSE only work on named tables and warn the user if they specify something ambiguous and say what is being used. If ambiguous column names are used then I just added the warning:

[code]

We could do something similar for multiple datasets with the same name.

Unnamed datasets perhaps could be referenced by `[[3]]$code`, although that is a little cryptic and arbitrary and

[2018-04-05 16:50] zachary-foster commented on #144
ok, so only store vectors for database in `taxon_rank`, `taxon_id`, and `taxon_name` objects then?

[2018-04-05 17:08] zachary-foster commented on #148
fixed

[2018-04-05 17:08] #148 closed

[2018-04-05 17:39] zachary-foster opened #155 "CRAN release 2.1"
I think I have made all the changes I want for a minor version release. Its actually been a while and a lot of changes have accumulated. Here is the news for this version so far:

### Improvements

* `parse_tax_data` can now incorperate rank information which can be accessed by `result$taxon_ranks()` ([issue #113](https://github.com/ropensci/taxa/issues/113)).
* `taxmap` print methods now have mor

[2018-04-06 13:38] zachary-foster opened #156 "Expand documentation for "simplify" option"

[2018-04-06 14:24] zachary-foster opened #157 "When adding new table with `mutate_obs` create `taxon_id` column if inputs named by taxon IDs"
This will often happen when making new tables from the output of functions that return per-taxon values, such as `obs_apply`, `supertaxa`, `subtaxa`, `subtaxa_apply`, etc.

For example, instead of:

[code]

This would do the same:

[code]

since the output of `unlist(obs_apply(....))` will be named by taxon IDs.

The taxon_id column would only be added if names of input vectors match and are all v

[2018-04-06 16:13] sckott commented on #150
yes, that format i'm pretty sure is what they want

[code]

[2018-04-06 16:15] sckott commented on #144
i think so, but the accessor methods/functions do construct a database object though ?

[2018-04-06 18:25] sckott commented on #154
Okay, sounds good

[2018-04-06 18:30] sckott commented on #155
not that I can think of, though should these two issues https://github.com/ropensci/taxa/milestone/3?closed=1 be included in this milestone since they are closed ?

[2018-04-06 20:01] zachary-foster commented on #155
The one about how to handle filtering datasets with no taxon IDs is done. datasets without valid taxon IDs are not modified by `filter_taxa`.

The other one will be implemented as discussed in #139, but I want to for the next release for that since it will involve changing a lot of code.

They can be included in this milestone, although I have not been using this milestone until very recently so t

[2018-04-06 22:41] sckott commented on #155
okay, just trying to check if any closed issues should go in here that didn't get this milestone label.

[2018-04-10 20:36] zachary-foster commented on #155
Ahh ok, I will go through the recently closed ones and add them to this milestone

[2018-04-10 21:07] zachary-foster opened #158 "Consider moving development version to its own branch"
Some reviewers lately commented on failing tests. I personally don't worry too much about failing tests mid development (since often times the test at fault rather than what it is testing), but It might give some people a bad impression.

@sckott and I started this conversion over email, so I will paste @sckott's reply here:

Thats how I think of it.

That link is interesting. I tend to lean towar

[2018-04-10 21:17] zachary-foster opened #159 "Add example somewhere for how to reassign data to a rank"
We had the following comment on a review:

This would be handled by `filter_taxa` with `taxon_ranks` for named ranks or `n_supertaxa` if there are no named ranks. Simply removing lower ranks (species) will reassign data to remaining higher ranks (family) automatically.

It might be nice to have a "cookbook" vignette that just a long list of random ticks like this to solve common problems.

[2018-04-10 21:29] zachary-foster opened #160 "Add demonstration of scalability and speed."
We had this comment from a reviewer:

It would be nice to have some demonstrations of this. In my experience, parsing data is the weakest link currently. Its slow, but I have been able to parse whole reference database taxonomies for single kingdoms (RDP, Greengenes, and SILVA at least).  I can think of the following demonstrations:

- [ ] Time how long it takes to parse the whole taxonomy for a l

[2018-04-10 22:01] zachary-foster opened #161 "Parsing vignette"
I have been working on a vignette for getting data into the `taxa` classes. It only covers `taxmap` so far, but I would like to extend it to other classes as well, but I started with `taxmap` since it is the most developed so far and the most confusing as well.

For the `taxonomy`, just adding a `as_taxonomy.taxmap` function will allow the `taxmap` parsers to be used to get `taxonomy` objects.

Fo

[2018-04-11 19:16] zachary-foster opened #162 "Only print progress bars during interactive use"
They make a big mess of text in markdown outputs and testing. I think the `interactive()` function could be used for this.

[2018-04-11 21:10] zachary-foster opened #163 "Make help topics dedicated to NSE and R6/S3 syntax"
Looking through the documentation, there is a lot of repeated content describing how NSE works and the difference between the R6 syntax and the S3 syntax for calling functions. These long copied explainations could be replaced with a link to a page for each of these concepts with lots of explanation. These pages could be based off of the sections in the `taxa-package` help page I just added.

[2018-04-11 21:17] sckott commented on #158
sure, sounds good. e.g., a spelling change we can just commit, but if you add a new function, branch and get that done with tests and make sure passing, then merge

[2018-04-11 21:24] zachary-foster opened #164 "`taxmap` print bug when printing empty tibbles?"
[code]

[2018-04-12 01:03] zachary-foster opened #165 "Fix odd names in `leaves` output when `simplify = TRUE`"
[code]

[2018-04-12 02:16] #165 closed

[2018-04-12 02:16] #164 closed

[2018-04-12 19:48] zachary-foster opened #166 "Package size NOTE"
@sckott, any idea how to deal with this? IT only happens on Travis. Everything passes on the R cmd check on my computer.

[code]

Where/What is this mysterious `doc` directory?

This does not agree with what the installed size is for me:

[code]

[2018-04-12 23:10] sckott commented on #161
Looks good to me.

I can see how suppressing progress bars would help (#162)

I think it's good t include, it's good to have placeholders for the other classes so folks know we are meaning to get around to it.

[2018-04-13 03:13] zachary-foster commented on #161
Thanks! I will see if I can get a decent solution to the progress bars in before submitting to CRAN.

[2018-04-13 04:37] #162 closed

[2018-04-13 13:42] zachary-foster opened #167 "`lookup_tax_data` no errors messages when downloads fail"
This happens because I capture all messages to remove the repeats, otherwise the user gets a screen full of "No NCBI API key" and other such messages. However, this is also absorbing error messages for some reason.

[2018-04-13 14:04] #167 closed

[2018-04-13 17:18] sckott commented on #166
yeah, I get those notes on some of my pkgs as well. i believe `doc` is a folder created on pkg build, the tar.gz file from cran for taxa

[code]

[2018-04-16 21:56] zachary-foster commented on #166
Do you think it will make CRAN unhappy?

[2018-04-16 21:58] sckott commented on #166
I don't think so, esp if it doesn't show up on winbuilder

[2018-04-16 21:59] zachary-foster commented on #166
ok, thanks! I think I will ignore it for now then

[2018-04-16 21:59] #166 closed

[2018-04-16 22:04] zachary-foster commented on #155
I think everything is read for a release now. @sckott, do you need to email CRAN about the change of maintainer or did you already do that?

[2018-04-16 22:07] sckott commented on #155
already did, see email from Feb 1

[2018-04-16 22:11] zachary-foster commented on #155
For some reason I can find that email. Can you forward it to me please?

[2018-04-16 22:25] sckott commented on #155
done

[2018-04-16 22:30] zachary-foster commented on #155
got it, thanks

[2018-04-19 23:22] zachary-foster opened #168 "`mutate_obs`: when adding a vector that already exists, overwrite it with msg"
[code]

[2018-04-24 22:37] zachary-foster opened #169 "Add function to add placeholder taxa to force ranks to occur at a specific level/depth"
This idea was in response to a comment made by @hollybik when reviewing the F1000 taxa paper:

It would also be useful as an intermediate step when converting the taxonomy information in a `taxmap` or `taxonomy` object into a table with ranks as columns and rows.

[2018-04-25 16:44] zachary-foster commented on #149
Github seems to still find it in the .github folder, so I think that will work and make the reviewer happy.

[2018-04-25 16:44] #149 closed

[2018-04-25 16:47] zachary-foster commented on #150
I think we will have to leave it the way it is to keep CRAN happy. Sorry @peterdesmet! Good idea though

[2018-04-25 16:47] #150 closed

[2018-04-26 20:12] zachary-foster opened #170 "Add a figure to one of the vignettes demonstating subtaxa, supertaxa, leaves, etc"
This was suggested by one of the reviewers of the F1000 paper on taxa.

This is something I have considered in the past, but have not made a good version of yet. I am thinking of a set of heat trees, all with the same shape, with sets of branches highlighted showing which taxa are included in the subtaxa, supertaxa, leaves, roots, stems, internodes, etc. Could also highlight what various filter_ta

[2018-04-27 03:10] sckott commented on #170
seems like a good idea

[2018-05-09 16:16] zachary-foster opened #171 "hex sticker"
@sckott, what do you think of this potential hex sticker?

![hex_sticker](https://user-images.githubusercontent.com/6090555/39826423-7ac926da-5369-11e8-9e86-b7bc00f1d4df.png)

The inkscape svg and png are here:

https://github.com/ropensci/taxa/tree/master/hex_sticker

[2018-05-14 09:36] kamapu commented on #130
Well, I didn't really worked on export functions, up to now, but I am still considering it: perhaps I should play a bit with `taxa`.
In the meantime the article is [on-line](https://bdj.pensoft.net/articles.php?id=23635) and some  new features are available at [`kamapu/taxlist`](https://github.com/kamapu/taxlist).
May somebody of you be willing to contribute?

[2018-05-16 20:20] zachary-foster opened #172 "New function(s) to add taxa to a taxonomy"
`add_taxon(obj, new_taxon,  supertaxon = NULL, subtaxa = NULL)`

Adds `new_taxon` to `obj` taxonomy. `supertaxon` and `subtaxa` would accept existing taxon IDs.

* `supertaxon = NULL` and `subtaxa` is used: New taxon is added between the subtaxa and the existing supertaxon that contains all of the subtaxa
* `supertaxon` is used  and `subtaxa = NULL`  New taxon is added within the existing supertax

[2018-05-16 23:45] zachary-foster commented on #172
For `taxmap` and `taxonomy` objects, not easily. You would need to modify the edge list and add a taxon to the `taxa` list.

I was just thinking about `taxonomy` objects, but it would make sense to have to same functionality for `hierarchy`, and `hierarchies` objects. For `taxa` objects, you can just append/split them like any other list. I am not sure what would be the best way to do this with `h

[2018-05-17 16:47] zachary-foster opened #173 "Look into cli for adding text trees"
This looks cool:

https://github.com/r-lib/cli#trees

It would be nice to add to taxa for all `hierarcies`, `taxonomy`, and `taxmap`.
Could be called `print_tree`.

[2018-05-17 17:05] zachary-foster commented on #173
Easy and awesome!

[code]

[2018-05-18 16:09] zachary-foster commented on #173
done

[2018-05-18 16:09] #173 closed

[2018-05-18 16:32] sckott commented on #173
nice, very cool

[2018-05-18 16:37] sckott commented on #172
So right now, someone would need to e.g., recreate the entire `taxonomy` object with new taxa if they had new taxa to add?

[2018-05-18 16:47] zachary-foster commented on #172
That would perhaps be the least error-prone way to do it for `taxonomy` objects: output the `classifications()`, add taxon in same format, and reread with `parse_tax_data`, but some info would be lost (e.g. ranks). For `taxmap`, it would be harder to preserve the datasets.

One could modify an object in place as well, but it could be tricky:

[code]

[2018-05-18 17:00] zachary-foster commented on #173
I was thinking about that as well. I tried it with ~1500 taxa and it works within a few seconds, but it printed more text than the Rstudio console would display. one line per taxon. I figure people could use `filter_taxa` to cut it down:

[code]

We could add something like "max_levels" as an option that does this for them?

[2018-05-18 17:19] sckott commented on #172
Definitely seems like a pain point that we should sort out

[2018-05-22 11:48] kamapu commented on #130
Hello @zachary-foster:
Great to see your message and the new publication.
Regarding the function, I will prefer the last option: an import function in each package. Since I only have experience working alone in GitHub, it will be interesting to see how collaborative projects run.

[2018-05-31 21:03] zachary-foster opened #174 "When printing tibbles in `taxmap`, reduce number of name-only cols printed"
This kind of thing is a bit much:

[code]

This is much better:

[code]

`print(obj, max_extra_cols = 10)` should do it

[2018-06-05 20:00] #174 closed

[2018-06-06 17:54] #155 closed

[2018-06-15 22:48] zachary-foster commented on #151
This has been started here: https://github.com/zachary-foster/taxa_website

[2018-06-15 22:48] #151 closed

[2018-06-28 02:06] zachary-foster opened #175 "Allow parsing functions to use reversed classifications"
For example:

[code]

[2018-06-28 08:58] zachary-foster commented on #175
This was from the Smithsonian Museum of Natural History Mammal database. Its the first I have seen formatted this way.

[2018-07-20 17:36] zachary-foster opened #176 "Taxmap print method: edgelist takes long time to print when taxonomy is large"
[code]

This took about 20 seconds to print, mostly seemed to be when printing the edge list. Could be caused by taxon id verification. Might want to urn that off for large objects.

[2018-07-22 09:45] zachary-foster opened #177 "Speed up `parse_tax_data`"
Most of the time is spent here:

[code]

creating `hierarchy` objects that are only intermediates. It can be refactored to not use `hierarchy` objects.

[2018-07-22 13:54] zachary-foster opened #178 "Allow `filter_taxa` to subset anything that has names, length, and can be subset"
I was about to add the ability to work with `DNAbin` from the `ape` package, but thought that a more generic solution might be better. Anything could be subset by `filter_taxa` if it:

1. Is one-dimension, with a known length (i.e. works with `length` function)
1. Can be subset (i.e. `[` changes the value of `length`).
1. Has per-element names that can be set (i.e. works with `names` and `names<-`

[2018-07-22 14:40] #177 closed

[2018-07-23 09:45] #178 closed

[2018-07-23 10:54] zachary-foster opened #179 "`filter_obs`: consider allowing multiple datasets at once"
If I have an object like:

[code]

where there are multiple datasets with the same length and same taxon IDs, it would be nice to filter both at once.

[code]

instead of;

[code]

[2018-07-25 13:32] zachary-foster opened #180 "Need non-NSE versions of functions"
Occasionally, I run into problems with the NSE in things like `filter_taxa`, like this:

[code]

Yet, this works:

[code]

It would be nice to figure out what is happening here, but either way, having a `filter_taxa_` that does not use NSE would be useful.

[2018-08-01 14:53] zachary-foster opened #181 "Print method bugs when a table only has taxon ID"
[code]

[2018-08-02 19:38] #179 closed

[2018-08-02 19:38] #181 closed

[2018-08-14 03:46] zachary-foster opened #182 "Make `filter_obs` default to filtering all datasets"
There is usually only one anyway and this would make it just like using `filter` in those bases. When there are multiple, they must have the same taxon IDs and length or the function throws an error anyway.

[2018-08-20 19:00] sckott opened #183 "git tag version released to cran"
@zachary-foster can you git tag the version released to cran recently. and put associated news items in releases .

thanks!

[2018-08-20 19:33] zachary-foster commented on #183
Oh yea, Thanks for the reminder!

[2018-08-20 19:33] #183 closed

[2018-08-21 23:39] sckott opened #184 "Phylogeny in a taxmap?"
@zachary-foster  Curious if you’ve ever tried to handle a phylogenetic tree inside of a taxmap? working on https://github.com/ropensci/phylodiv and thinking of using `taxa` inside the pkg to help users do “phylogenetic queries” - at least taxonomic queries are possible with taxmap objects

One problem I've run into in testing out phylogenies in a taxmap is that a phylogeny converted to a data.fram

[2018-08-22 16:47] zachary-foster commented on #184
Hi Scott,

There are two ways I can imagine doing it:

You can store the phylogeny as a taxonomy, with each node in the taxonomy being a "taxon" and store things like edge length as data associated with nodes. For example:

[code]

or

[code]

The other way would be to use the taxonomy normally and try to put a phylogeny inside the `data` list of the taxmap object and check that subsetting works.

[2018-08-23 00:15] sckott commented on #184
thanks @zachary-foster - I'll investigate over the next few days and report back

[2018-08-24 20:41] sckott commented on #184
@zachary-foster so we can do `metacoder::parse_phylo`, but can you reconstruct the phylogeny after making it a taxmap object? something like `as_phylo()`?

[2018-08-24 20:49] sckott commented on #184
is there a way to add data after creating a taxmap? e.g., if i use `metacoder::parse_phylo`,  i want to include higher taxonomy data, but not sure how to add a dataset to the resulting taxmap object. anyt thoughts?

[2018-08-28 14:47] zachary-foster commented on #184
Yea, although I don't have a function for it. Each split in the phylogeny is a "node" and there are the branch lengths in the table in `data`.

It is easy to add datasets with `mutate_obs`, but I think you are talking about adding taxa? Like adding a "Life" taxon above a "Bacteria" taxon?  That is a goal, but it is a bit hard to do now. See

https://github.com/ropensci/taxa/issues/172

[2018-08-28 14:48] zachary-foster commented on #172
Also, could add a function called `add_subtree` that adds one taxonomy/taxmap as subtaxa of a taxon in another  taxonomy/taxmap.

[2018-09-19 17:17] zachary-foster opened #185 "Parsers should return empty taxmap for zero-length inputs"
Currently, I get the following error:

[code]

[2018-10-10 18:38] zachary-foster opened #186 "invalid NSE warning when using full path to variable"
[code]

This should not use NSE, since the path to the full variable is supplied.

[2018-11-05 21:31] sdhutchins opened #187 "No Date in DESCRIPTION file"
When trying to cite this package, I get a warning because the description file has no date.

I just thought I'd bring this up given the authors might find it valuable to have a date with the citation to make it easier to cite the package or at least adhere to some common practices for R packages.

[code]

[code]

[2018-11-05 23:32] sdhutchins commented on #187
Awesome! Thanks, @zachary-foster!

[2018-11-08 23:57] grabear opened #188 "Filter_obs error."
Hey @zachary-foster !

I'm currently trying to resolve a weird issue...

I am trying to filter a taxmap object, and I keep getting this error at the bottom.

[code]

However, if I switch the order that I filter (`filter_obs %>% filter_taxa`) it works out fine.  `filter_taxa` on it's own also works fine.  So there is some hangup with `filter_obs` when it comes after `filter_taxa` for this use case.

[2018-11-08 23:58] grabear commented on #188
@sdhutchins Anything to add here?

[2018-11-09 01:06] sdhutchins commented on #188
@grabear I think you're covering it perfectly.

Should be noted this is using the GitHub version of metacoder. I can recreate the error as well with the same objection.

### Session Info

[code]

[2018-11-12 21:16] grabear commented on #188
I'm noticing several things, after a bunch of testing:

1.  The drop_obs/reassing_obs parameters for `taxa::filter_taxa` do not properly filter any of the tables in `taxmap_obj$data`
    a.  Doing this first removes taxa from the `classification`, but keeps it in the observation data.  This is what's causing the error after trying to use `filter_taxa %>% filter_obs` :

[code]
[code]
[code]
[code]

[2018-11-12 23:38] grabear commented on #188
This is also true in other filtering situations (235 taxa vs 408 taxa):

[code]

[2018-11-13 00:14] grabear commented on #188
[code]
Below I've included a situation where the above :point_up: statement isn't true.  When using a different filtering condition, all of the tables are filtered ("otu_table", "tax_data" are normally at 1665 taxa after filtering, but here they are filtered to 1662 taxa).

### Original Data
[code]

### Filtered Data with New Condition
[code]

So there's something going on that makes filtering inc

[2018-11-13 00:26] grabear commented on #188
Maybe this is an `otu_id` vs `taxon_id` thing?

[2018-11-13 04:38] grabear commented on #188
Here's another weird case:
### Original Data
[code]
### Filtered Data with New Condition
[code]

[2018-11-13 19:18] zachary-foster commented on #188
Hello @grabear and @sdhutchins. Thanks for all the testing! I am looking at this now.

[2018-11-13 20:04] zachary-foster commented on #188
This will only make sense if "diff_table" has a one row per taxon in the same order as the taxa. You would get this if you used `compare_groups` with only one comparison (two groups), but otherwise, I would expect the length difference error. The two warnings you get can probably be ignored unless you thought those table should have been filtered. Tables without a "taxon_ids" column will not be fi

[2018-11-13 21:14] grabear commented on #188
@zachary-foster Thanks for your response!  I know it's a lot, but I kept running into things I didn't understand.  Your comments have been very helpful.  As you know, I've been having these issues all along :rofl:

I think that we mainly would like to produce observation data tables in `obj$data$diff` and `obj$data$tax_abund` and use the `taxon_ids` to `taxa::map_data`.  That way we can produce ot

[2018-11-13 21:44] zachary-foster commented on #188
No problem! Filtering with multiple different tables gets confusing. I have often thought I found bugs myself until realizing that I forgot some detail of how my own code works. I try to make it the default usages of the functions as intuitive as possible, but understanding how all the options interact can be difficult.

I think I see the confusion. The output of `calc_taxon_abund` and `compare_gr

[2018-11-13 23:56] grabear commented on #188
Here is one of my solutions to get a diff table with the data that I need.

[code]

[2018-12-02 20:09] #185 closed

[2018-12-05 10:17] zachary-foster opened #190 "print_tree printing lots of NAs instead of tree"
I noticed this in a workshop, but don't know how to replicate it. If anyone runs into this problem and can provide a reproducible example I would appreciate it!

[2018-12-17 00:13] grabear opened #191 "taxonomy_table function issue with add_id_column parameter."
https://github.com/ropensci/taxa/blob/2956cd625d572111270e71239b8d13ef062a8665/R/taxonomy--class.R#L1079
On multiple computers, I've had issues with the `taxa::taxonomy_table` function not adding the taxon_id column:

[code]

However, when I use the function directly linked to the object it works without issue:

[code]

[2018-12-17 18:32] zachary-foster commented on #191
Hi @grabear, thanks for the report! I think i fixed it. Feel free to reopen this issue if it is not fixed.

[2018-12-17 18:32] #191 closed

[2018-12-18 20:53] zachary-foster opened #192 "Support matrix data type in parsers and subsetting functions"
[code]

[2019-01-02 23:03] sckott opened #193 "news"
@zachary-foster looks like last two news item headers have the same version https://github.com/ropensci/taxa/blob/master/NEWS.md

[2019-01-02 23:13] zachary-foster commented on #193
Oops, thanks for pointing that out. I will fix it

[2019-01-02 23:14] #193 closed

[2019-01-24 10:43] zachary-foster opened #194 "Print method idea: tidy lists"
Currently, print lists in `taxmap` print outs look like this:

[code]

It would be nice to see whats in those list items, but it would print a lot of text in many cases. It would be nice to have a analog of the tibble for lists, in which all the details/summaries are printed recursively until a specific amount of screen is used. This would be useful in general, no just for taxa.

[2019-01-24 18:23] zachary-foster opened #195 "Is a `head` function needed for `taxmap`?"
Someone just thought there would be a head function so maybe there should be.

[2019-01-25 01:36] zachary-foster commented on #195
Im not sure. It was just a quick note I made during a meeting so I could think about ti more later. I dont really see any reason to have a `head` function after thinking about it more, since the print method is doing pretty much the same thing as head already.

[2019-01-29 17:40] #195 closed

[2019-01-29 17:42] zachary-foster commented on #188
Closing due to inactivity. Feel free to reopen if needed

[2019-01-29 17:42] #188 closed

[2019-02-13 06:09] sckott opened #196 "`taxa`: way to do operations on objects within it"
@zachary-foster

in `taxize` i'm trying to use `taxa`, and currently doing  (pseudocode)

[code]

`taxa` is just a list, so users then can't do any operations over the output.

wondering if i'm missing some way that one can manipulate all the taxon objects within the taxa class?  or if not, maybe we could make something here, or if not a good fit, then I can in taxize

e.g., `output$get_ids()` to

[2019-02-13 17:36] zachary-foster commented on #196
Hi @sckott, yeas the classes besides `taxonomy` and `taxmap` need some attention. They don't have getters/setters for the most part.

I was working on that in #139, but I think that progress is on a stale branch somewhere. Perhaps its time to prioritize that a bit more.

[2019-02-13 17:44] sckott commented on #196
cool, i'll close this in favor of #139 - what branch is it?

[2019-02-13 17:44] #196 closed

[2019-02-13 18:00] zachary-foster commented on #196
Its on "s3_to_r6". Looks like I might of had the code for `taxa` working

[2019-02-13 18:03] sckott commented on #196
ok, thanks

[2019-02-20 17:55] sckott commented on #139
@zachary-foster any idea of when this will get some attention?

[2019-02-20 18:59] zachary-foster commented on #139
Hi Scott, yea, I will work on it in the next few days.

[2019-02-20 20:17] sckott commented on #139
awesome, thanks

[2019-03-09 00:32] zachary-foster commented on #139
Hi @sckott, I pushed some updates to the "eval" branch that have the new getter/setter/constructor code for `TaxonName`, `TaxonRank`, `TaxonId`, `TaxonDatabase`, `Taxon`, and `Taxa`. They all have S3 and R6 getter/setters. The S3 are wrappers for the R6. The S3 setters/constructors pass by value, like most R code, and the R6 setters/constructors pass by reference (if what they are passes is an R6

[2019-03-11 18:43] sckott commented on #139
Awesome, thanks. Will have a look soon, especially with an eye to see if taxize will require anything else

[2019-03-13 15:34] sckott commented on #139
@zachary-foster will do next monday, leaving on vacation

[2019-03-20 20:29] zachary-foster commented on #176
Fixed in eval branch

[2019-03-20 20:29] #176 closed

[2019-03-21 22:08] zachary-foster opened #197 "Vectorizing some classes and reorganizing inheritance hierarchy"
I have been thinking about how to make all of the `taxa` classes most useful and I think I have come up with a way to reorganize things that will make things more natural and R-like, while increasing flexibility.

## Vectorizing the `TaxonName`, `TaxonRank`, `TaxonId`, and `TaxonDatabase` classes

Right now these store individual values and an associated `TaxonDatabase` object.
However, if they we

[2019-03-22 17:54] sckott commented on #197
thanks @zachary-foster - it's complex so I'll take a bit to make sure I understand all of this. For my immediate concern about looking at the work on the `eval` branch, will the changes proposed above conflict with the eval branch work? If so, i guess I'd hold off on incorporating taxa in taxize

[2019-03-22 18:51] zachary-foster commented on #197
Yea, its a big change conceptually, but I think the amount code change needed will not be too big though. The summary is: every class would hold multiple items and all complex classes (`Taxonomy`, `Hierarchy`, `Taxmap`) would inherit `Taxon` (which is currently `Taxa`) to reduce code redundancy.

The changes would build on the `eval` branch work. For example, in `eval`, `Taxonomy` already inherits

[2019-03-22 23:18] sckott commented on #197
Yes, a chat would be good. i'll email you to schedule that

[2019-03-29 18:56] sckott opened #198 "possible to put taxize in Suggests?"
I think I will have to put `taxa` in Imports in `taxize`, and since `taxize` is in Imports in `taxa`, leads to circular depen error in check.

Just briefly looked at taxa code that uses taxize, so not sure if you'd be okay with moving it to Suggests/

[2019-03-29 20:44] zachary-foster commented on #198
I have been thinking about that too. I think that makes sense. Only `lookup_tax_data` and `extract_tax_data` use `taxize` I think.

[2019-03-29 20:47] sckott commented on #198
okay, seems pretty easy, since `check_for_pkg("taxize")` was already in one place where it was used, and i've put it in the other place used in branch `taxize-compat-changes` (see commit above)

[2019-04-01 12:02] kamapu commented on #197
Dear people, sorry for absence: I'm just back from Kenya.
Since I'm not into **R6**, I doubt, I can make any relevant contribution on this topic. But maybe discuss about the issue of synonyms:

I think, synonyms have been the mid-way solution to harmonize nomenclatures in vegetation-plot databases, and maybe also in taxonomy.
Perhaps you are right, a **taxon concept** applied according to a **taxo

[2019-04-03 01:26] zachary-foster commented on #197
Thanks for the thoughts @kamapu!

Cool! Sounds likes an interesting place to do field work in.

On the other side, two taxon concepts from different taxon views may be equivalent, independent whether they have the same usage name or different ones.

I think I understand. Synonyms are easy enough to deal with, but homonyms and taxa that overlap in what they include are difficult to encode. After th

[2019-04-15 11:30] brendanf opened #199 "Assign taxon_rank based on n_supertaxa"
I have a delimited classification with set ranks, of the form `[rootrank];[kingdom];[phylum];[class];[order];[family];[genus]`, e.g., `Root;Fungi;Ascomycota;Eurotiomycetes;Eurotiales;Trichocomaceae;Hamigera`.
I can parse this into a `Taxonomy` using `extract_tax_data()`, but I'm not sure if/how I can assign the ranks.  It would be nice if I could supply `c('rootrank', 'kingdom', 'phylum', 'class',

[2019-04-15 17:32] zachary-foster commented on #199
Hello @brendanf.

Adding an argument to assign the ranks when parsing using `extract_tax_data` is a good idea. I will look into that. Thanks!

In regards to `taxon_ranks() <-`: We are working on adding getter/setters for things like taxon ranks, but it is part of a larger rewrite of some of the code, so those additions are not in the master branch yet. If you want to try out what we are working on

[2019-04-18 19:55] zachary-foster opened #200 "Function to produce html/latex table of taxonomic and associated data ?"
It would be cool to be able have a function to produce tables like this from `taxmap` objects for use in Rmarkdown documents and publications:

![image](https://user-images.githubusercontent.com/6090555/56387028-1f737000-61d8-11e9-8461-9548aa0050a7.png)

It could output a table produced by `kableExtra` with a command like the following:

[code]

Things like "root_prop" would be user-specific varia

[2019-04-23 17:26] sckott commented on #200
cool idea! would it require a bunch of dependencies?

[2019-04-23 20:23] zachary-foster commented on #200
I think it would just need `knitr` and `kableExtra`. I imagine most people would have `knitr` anyway, but I am not sure how many dependencies `kableExtra` has.

I was thinking about separating the plotting of heat trees from metacoder into a new package focused on visualization of hierarchical data, and reserving metacoder for microbiome community ecology type stuff. If not in the taxa package, th

[2019-04-24 16:30] sckott commented on #200
that sorta makes sense i think, if you're going to break out a new pkg focusing on plotting, then might make sense to put this fxn in that pkg

[2019-06-28 08:33] kamapu commented on #197
I did not like to insert it here, but there are some brief discussions [here](https://github.com/kamapu/taxlist/issues/3#issuecomment-506651738).

[2019-07-02 20:44] zachary-foster commented on #197
Thats fine @kamapu, I will take a look. thanks

[2019-07-02 20:45] zachary-foster commented on #197
Hi @sckott, want to take a look at the `vectorize` branch and see what you think about the new `taxon_db`, `taxon_id`, `taxon_name`, `taxon_rank`, and `taxon` vectors? I think they are working for the most part. The tests and vignettes have not been updated, but the man pages have examples that should give you an idea of how they work. The exciting part for me is that they can now be used as colum

[2019-07-02 21:33] sckott commented on #197
@zachary-foster yep, i'll take a look ..

[2019-07-17 21:41] sckott commented on #197
sorry for the delay! just back from vacation.

Trying to install vectorize branch and getting errors related to vctrs - same problem with the dev and cran version of vctrs. Any thoughts?

[2019-07-17 22:38] zachary-foster commented on #197
Hi Scott, no problem, I hope the vacation went well!

It should be working now. There was a function renamed in vctrs since I last installed. I fixed it and now I can install using the github version of `vctrs`

[2019-07-18 00:13] sckott commented on #197
Looks good for the most part.

is this intended behavior?

[code]

Looks like the eg returns ranks less than family, not greater than. Or am I interpreting wrong what the example does?

[2019-07-18 03:10] zachary-foster commented on #197
Nice

Its intended, but we could do it the other way if that is more intuitive. The way I set it up, high numbers indicate more fine scale ranks so species is greater than genus. I think I did that so that it looks like a factor when printing while displaying the ranks phylum -> species vs species -> phylum:

[code]

vs

[code]

But if think the oppisit ordering convertion is more intuitive, we co

[2019-07-19 17:04] sckott commented on #197
Ah okay, right we also have the same ordering in the rank_ref dataset in taxize. That makes sense then

[2019-07-19 17:36] zachary-foster commented on #197
Ok, cool. That list is mostly derived from `taxize::rank_ref`, mostly just reformatted

[2019-07-19 17:55] zachary-foster commented on #197
What do you think of adding support for synonyms to the `taxon` class? It could be a list of `taxon_name` vectors. There could either be a separate list for synonyms or we could replace the `taxon_name` vector in the `taxon` class with a list of `taxon_name` vectors and the first in the list could be the "accepted" name.

Also should the authorities be associated with the `taxon` or `taxon_name` c

[2019-07-19 19:00] sckott commented on #197
makes sense to add synonyms. isn't it possible that a user would creat a `taxon` class that is a name or set of names that are not accepted names?

I think each synonym should be able to have a different authority for sure. - they're just like any other name i guess, with their own authority, id, etc.

I can't quite visualize how this will work since `taxon` class can have an arbitrary set of taxa

[2019-07-19 21:53] zachary-foster commented on #197
Yea, I guess i was thinking more about how they were stored in the object. So this:

[code]

vs

[code]

After thinking about it, either would work. When I said "accepted" I was thinking the one that would appear in the print out and the output of `as.character` and such. So `c('A', 'B', 'C')` in the above example.

Hmm, thats a good point. I had thought each should have their own authority, but y

[2019-07-21 08:41] kamapu commented on #197
Perhaps I'm not that in into technical properties of `taxa`  to deliver a proper opinion, but I'm wondering why a synonym or name have to be associated to a taxonomic rank. In `taxlist`, the taxonomic rank (level) is a property of the taxon concept (slot **taxonRelations**) and not of the taxon usage names (slot **taxonNames**).

In my opinion, there are two solutions to handle taxonomic lists, en

[2019-07-22 18:44] zachary-foster commented on #197
Thanks for the input @kamapu!

I think it makes sense that a synonym can have a different rank, although I have not thought about it much before. You see it often below/at the species rank:

[code]

<sup>Created on 2019-07-22 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

I dont think there is a problem with synonyms having ranks, as long as the all the taxon ranks in a taxo

[2019-10-18 11:33] maelle opened #201 "use cases section a bit outdated"
:wave: here! in https://github.com/ropensci/taxa#use-cases you mention binomen but binomen README states that most of its functionality has migrated to here.

I was also wondering if you have more applied use cases to report in that section?

[2019-10-18 17:49] zachary-foster commented on #201
Hi! Thanks for the note. Yea, its outdated. I am working on a complete rewrite of the `taxa` package to make it more user-friendly and scale better, so I have not revised this yet. Currently, only `metacoder` uses `taxa` as far as I know. Shortly, @sckott and I will be working to integrate the new version of `taxa` into `taxize`. I expect this will increase adoption by other packages.

I will upda

[2019-10-18 18:13] maelle commented on #201
Thanks, good luck!

Is taxa meant to be mostly developer facing?

[2019-10-18 18:23] zachary-foster commented on #201
Thanks!

Yes, for the most part. Users will interact with the objects/classes defined by `taxa`, but I expect most users will not realize that these come from `taxa` until they use them in multiple packages or dig into the help documentation. Perhaps how `tibble` is used in other packages would be a good comparison. The purpose of `taxa` is to define common data types so that multiple packages can

[2019-10-18 18:27] maelle commented on #201
Aaah ok, it makes a lot of sense! You'll see I'm asking because of my handling `taxlist` submission. :-)

[2019-10-23 22:35] sckott commented on #197
@zachary-foster looking at this in taxize:

**get_ fxns**

I'm not sure the `vectorize` branch as is will work. I can't feasibly attach attributes on the output of get_ fxns and not lose them. e.g. I can just add attributes on a `taxon_name` object, whic works. It's great that `taxon_name` objects can be combined with `c()`, but then the attributes are lost. That was the case before too, but tryin

[2019-10-24 19:58] zachary-foster commented on #197
Hi @sckott,

The `vctrs` package should allow this. I must have overridden some method that breaks this for `c`.

[code]

<sup>Created on 2019-10-24 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Note how this does not work if the attributes have different values. For example, I had to overwrite `c.taxa_taxon_name` to make the taxon ranks be combined correctly, since they ar

[2019-10-24 20:48] zachary-foster commented on #197
Just looked at the `get_` fxns again and I noticed that all the attributes are per-taxon values. I can see three ways of dealing with this, from easiest to hardest:

1) What about returning tables instead? Like

[code]

<sup>Created on 2019-10-24 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

2) build a `vctrs` record class that with the same fields as `taxon_id`, plus some

[2019-11-07 23:49] sckott commented on #197
Sorry about the long delay on this @zachary-foster - had a bunch of new versions of other pkgs to get out.

Thanks for the good brainstorming. I'll play around with these and get back to you. My gut reaction is that I don't want to return tables from get_* fxns. It just doesn't seem like the right data structure, but maybe after trying it i'll change my mind.

[2019-11-10 21:39] zachary-foster commented on #197
No problem, I have been busy with traveling anyway.

I played around with this some more, and I think option 2 would probably be the most similar to how `taxize` already works. That way you could have per-value attributes (as fields in rcrd-style vectors) that are preserved when subsetting and combining as well as per-vector attributes that are preserved when subsetting (`vctrs` does both automati

[2019-11-18 23:07] sckott commented on #197
sounds good - i'll have a look at option 2

[2019-11-25 16:56] janstrauss1 opened #202 "Too Many Requests (HTTP 429) error when parsing long taxon_id list"
Hi there,

I'm trying to create a `taxmap` from a long list of NCBI taxon IDs for subsequent filtering.

I have downloaded about 17k taxa containing a specific protein domain from InterPro and imported into R

[code]
I then try to set um my `taxmap` as follows:

[code]
Unfortunately, this throws the error
`Error: Too Many Requests (HTTP 429)`

I guess the API client is making too many concurrent r

[2019-11-25 17:00] janstrauss1 commented on #202
there seems to be a related issue for the taxize package
[https://github.com/ropensci/taxize/issues/785#issuecomment-554462753](https://github.com/ropensci/taxize/issues/785#issuecomment-554462753)

[2019-11-25 20:28] sckott commented on #202
Are you definitely using NCBI? The data source in question in that taxize issue 785 is for Catalogue of Life, not NCBI.  Anyway, NCBI may also throw 429 errors. Do you have an NCBI ENTREZ API key set with the env var `ENTREZ_KEY` ?

[2019-11-26 08:28] janstrauss1 commented on #202
@sckott,
yes, I'm definitely using NCBI taxon IDs.
No, I did not set an `ENTREZ_KEY` but I think this might solve the problem. I have already obtained an NCBI API key but how to I set it correctly?

Many thanks in advance for your help!

[2019-11-26 08:46] janstrauss1 commented on #202
@sckott,
I just set the key using `Sys.setenv(ENTREZ_KEY = "my.api.key")` as you outlined at [https://github.com/ropensci/taxa/issues/135#issuecomment-370862861](https://github.com/ropensci/taxa/issues/135#issuecomment-370862861).
It seems to partially solve my issue as the download stalled at 7% throwing the error:
`Error: Bad Request (HTTP 400)`.
Any idea how to address this?

[2019-11-26 09:33] janstrauss1 commented on #202
It appears that downloading the classifications for such a long list of taxon IDs from NCBI is very fragile. Setting my NCBI API key and re-running my script as outlined above, the download now stalled at 25% throwing the error: `Bad Gateway (HTTP 502)`.

[2019-11-26 15:53] janstrauss1 commented on #202
It eventually worked to download the classifications of the full 17k list of NCBI taxon IDs.

[2019-11-26 16:27] sckott commented on #202
NCBI's infrastructure is not very good, so I'm not surprised that you are running into errors with a lot of names.

Another option is `taxizedb` - idea is the same as taxize, but using SQL dumps on your local machine.

[2019-12-06 10:04] janstrauss1 opened #203 "No taxon_rank information when parsing from NCBI taxonomy"
Hi there,

I'm looking up taxonomic data from NCBI taxon IDs that I would like to subsequently filter using `taxon_ranks == "species"`.

Unfortunately, it seems that NCBI taxon rank information is not parsed when using `lookup_tax_data`?!

Below a reproducible example:

[code]
Calling `taxon_ranks(taxmap)` returns
[code]
How could I get the taxon rank information from NCBI?
Many thanks in advance

[2019-12-09 18:19] zachary-foster commented on #203
Hello @janstrauss1,

Thanks for the note, I just added that functionality. Try it with the dev version:

[code]

[2020-01-03 11:40] nick-youngblut opened #204 "import of taxdump files"
As far as I can tell from reading the docs & paper on `taxa`, the package cannot directly import from taxdump files. This would be helpful for importing custom taxdump files created from non-NCBI taxonomies (eg., taxdump files created from the GTDB taxonomy)

[2020-01-06 19:17] zachary-foster commented on #204
Hi @nick-youngblut, thanks for the idea, I will look into it!

[2020-01-07 18:44] zachary-foster commented on #204
After looking into this a bit, I am not sure what file type you mean. I found the following examples:

I see this on GTDB's website:

https://data.ace.uq.edu.au/public/gtdb/data/releases/latest/bac120_taxonomy.tsv

And these from NCBI:

https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz

https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/new_taxdump/new_taxdump.tar.gz

Are one of these the format you

[2020-01-07 19:17] nick-youngblut commented on #204
Here's the taxdump that I created from the GTDB: http://ftp.tue.mpg.de/ebio/projects/struo/GTDB_release89/taxdump/

The simple script used to create it can be found at: https://github.com/nick-youngblut/gtdb_to_taxdump

[2020-03-12 14:45] kamapu commented on #130
Dear @arendsee
We are discussing in [#233](https://github.com/ropensci/software-review/issues/233) (submission to ROpenSci) about writing some information for users about differences between `taxa` and `taxlist`. Thus I like to kindly ask you, which was your own decision on this respect (to use one or another package) and why.

[2020-07-08 18:54] sckott commented on #197
Sorry about another long delay on this @zachary-foster - Are you still planning to move to using `vctrs`?

[2020-08-05 20:30] zachary-foster commented on #197
Sorry for the delayed response. I have been on vacation after defending my PhD and was not checking my email much. I am back to work now.

Yea, I am still trying to get `vctrs` to work. It was working nicely for the most part, although If I remember correctly a few obscure bugs and missing features in `vctrs` was causing some issues. Those might be fixed by now

[2020-08-07 22:27] sdhutchins opened #206 "Error: Failed to install 'taxa' from GitHub"
### Error

[code]

### Session Info
[code]

[2020-08-10 17:58] sckott commented on #206
Try this instead `install.packages("taxa", repos="https://dev.ropensci.org")` should install a binary version of the version here on github and get around the XML problem

[2020-08-23 21:36] zachary-foster commented on #197
Hi @sckott, I have made some good progress of the `vectorize` branch. If you have the time, I would like to go over it with you to get your opinions before I continue. Here is a summary of what I did since we last discussed it:

* Check that standard vector operations work with the classes (e.g. names, subsetting, assignment, etc)
* Fixed all the bugs the `vctrs` updates cased
* Worked around some

[2020-08-25 23:26] sckott commented on #197
Sounds good - did you want to do a call?

[2020-08-26 05:08] zachary-foster commented on #197
Yea, that would be good. Does zoom work for you?

[2020-08-26 15:11] sckott commented on #197
Yeah, what day/time?

[2020-08-27 15:37] sckott commented on #197
@zachary-foster  Tried using `taxa::taxon` in taxize.  Works nicely so thats cool. But main problem is the attributes aren't subsetted along with id/name/rank/auth. Maybe instead of changing taxa to meet taxize's needs, I could extend `taxon` in taxize?

[2020-08-28 00:02] zachary-foster commented on #197
Yea, I think you could extend `taxon` in taxize. I did some quick tests, and it seems possible, although you might have to add a few custom methods as problems arise. Here is a proof of concept:

[code]

[code]

[2020-09-01 21:52] sckott commented on #197
thanks @zachary-foster - i;ll try that

[2020-09-02 00:39] sckott opened #207 "error in db_ref$get() after using $set()"
with current taxa on `vectorize` branch

[code]

[2020-09-02 01:21] sckott commented on #197
I've used your example code above and built on it. work on this branch https://github.com/ropensci/taxize/compare/taxa-work Some thoughts:

- sometimes taxon IDs are not found, so we treat them as NA's in taxize. right now, the db checker in `taxon_id()` doesn't account for when there's no ID. I tried to change the regex to accept, e.g,.  `[0-9]+|(NA)`, but got an error using the setter, opened an

[2020-09-02 22:43] zachary-foster commented on #207
Thanks, this should be fixed

[2020-09-02 22:43] #207 closed

[2020-09-02 22:59] zachary-foster commented on #197
Good find. I fixed it so now `NA` is a valid ID regardless of database.

That should be fixed now

I am not sure I understand. Even if a taxon ID is not found is `NA` returned? Is the input length/order and output length/order different if there are unknown taxon IDs?

[2020-09-02 23:16] sckott commented on #207
thx

[2020-09-03 00:58] sckott commented on #197
thanks for the fixes.

for the names applied via `.names` - yes, NA is returned when there is no ID found in the taxize get_* functions. But if there's NA's I think it may not make sense to give the output taxon object vector names since you can't subset a vector AFAIK with NA's as the indices, and if there's more than one NA, then how do you index to the different NA's. So I think for taxize I le

[2020-09-04 18:57] zachary-foster commented on #197
How about naming the output by the input,  assuming the input is one-to-one with the output and is a character vector?

That error seems to be due to `vctrs` not allowing `vctr` objects to be named with `NA`. It was actually `taxon_rank` causing the problem. `taxon_rank` is a `vcrt` object whereas most the others are `rcrd`, for which I have custom naming  code that allows `NA`. From what I gather

[2020-09-04 20:24] sckott commented on #197
Thanks for the fix.

Could name by the inputs, might try that

[2020-09-16 15:11] sckott commented on #197
@zachary-foster do you need taxize anymore in taxa? its' in Imports, but I don't see any use of taxize in taxa vectorize branch. I need to have taxa in Imports in taxize now - and we can't have each others pkgs both in Imports. thoughts?

[2020-09-16 16:28] sckott commented on #197
weird, even after removing taxize from Imports in taxa, i keep getting a circular dependency error when i run check on taxize (with taxa in Imports) - i can't find taxize in taxa anywhere, not sure what's going on. it's clearly taxa since if I remove taxa from Imports, then check runs fine

[2020-09-16 22:08] zachary-foster commented on #197
Yea, we should remove the  taxize dependency. I will try to remove the dependency and see if I get the same problem.

[2020-09-16 22:11] sckott commented on #197
thanks for having a look - relevant taxize branch i'm working on is `taxa-work`

[2020-09-16 22:32] zachary-foster commented on #197
I go the same problem. It looks like R CMD check is looking up the dependencies from CRAN oddly enough. I tried the check with my internet turned off and got this error:

[code]
So I guess its only checking the version on CRAN?

I saw you added:

[code]

So Im not sure. Could it be a bug in devtools or R CMD check?

[2020-09-16 22:48] sckott commented on #197
Weird, good catch. I am using [R CMD CHECK](https://github.com/ropensci/taxize/blob/master/Makefile#L34-L37) on the command line so there's no devtools or remotes pkgs involved AFAIK.

Tried it with internet off too and now it doesn't throw that circular dependency error - internet back on and it does.

[2020-09-16 22:59] sckott commented on #197
`vectorize-no-taxize` just removes taxize from imports in taxa. and it doesn't seem to help compared to the `vectorize` branch

[2020-09-16 23:02] zachary-foster commented on #197
Ok, so it must be relying on the CRAN version to check dependencies. Thats annoying, but I suppose the problem will go away once taxa on CRAN is updated.

Another option would be to rename taxa to taxa2 or something. I was wondering whether that would be a good idea to do anyway, so that after taxa is updated, published code that uses taxa (mostly papers using metacoder) will still work. About 100

[2020-09-16 23:05] sckott commented on #197
The changes in taxa are quite large, so it might warrant a new name, or at least a major version bump if the same name. I'll leave it up to you.  I guess folks using the current taxa or older versions would just need to avoid updating to this new version if you keep the same name.

[2021-01-15 10:16] ctekellogg opened #208 "creating a taxonomy database for PR2"
Hi,
I recently learned for `taxa` and `taxize` and have been exploring them a bit today, as I am trying to merge microscopy data with an metabarcoding data so that I can compare what is observed by microscopy in the ocean with what we observe via sequencing. I have a list of species and genus names for the microscopy data but for the sequence data, which were annotated with the PR2 database (https

[2021-01-15 20:59] sckott commented on #208
I'll let @zachary-foster respond on the taxa side of things as he's the maintainer of it.

Is your pr2 data a proper (SQL) database? Or a set of tabular files? Something else? It would be interesting to think about how to let users define their own data source, but it's quite complex since data can be so varied.

Unfortunately that's not quite how it works. I wish it was that easy! The `taxon_data

[2021-01-15 23:12] ctekellogg commented on #208
Hi!
So, in response to this question:

The PR2 database has multiple formats, including a SQL format (https://pr2-database.org/documentation/pr2-sqlite/). Maybe this is what I should have linked to in the `taxon_database` command? Or can I leverage this directly in `taxize`? I'm not the developer of PR2 - just a user.

Oh, I see.

Ah, I see. And I am sort of wanting it to go the other direction -

[2021-01-19 19:49] sckott commented on #208
@ctekellogg thanks for your responses.

Thanks for the details on the PR2 database. I'll have a look.

Is `taxize::classification()` the only `taxize` function you are thinking about? Are there other `taxize` functions that you'd want to use with PR2?

[2021-01-19 20:13] zachary-foster commented on #208
No, thats right Scott, the `taxa` database specification is just to do validity checks on taxon ID and taxon rank objects, so that they do not have invalid IDs/ranks for a given database. The ability to query a database is separate and is handled by `taxize`

If you have a local database, you should be able to parse it with `taxa` or just use it as a named character vector if it is a fasta file, o

[2021-01-19 22:16] sckott commented on #208
Good point about the pr2 package.

I opened an issue in taxize https://github.com/ropensci/taxize/issues/866 - tldr, it's probably not doable but worth discussing at least, as it might be

[2021-01-20 00:42] ctekellogg commented on #208
Thank you both! (sorry for the delay in my response). Yes, I installed the pr2database package in R (before I wrote here), but then was struggling to figure out how I might search it in the manner that `taxize` searches databases to output a taxonomy for query (rather than using it to ID a sequence, which is more straightforward), and thus I decided to investigate these two packages. Would love to

[2021-01-20 00:51] sckott commented on #208
can you explain this a bit more? does this correspond to a certain function(s)

[2021-01-20 01:13] ctekellogg commented on #208
Well, since I often work with amplicon sequencing data, my typical mode of operation is to QC the data and the classify the reads against a reference database using sequence classifiers within the `QIIME2` platform. I believe you can also do this using some of the tools built into the `pr2database` R package, but I often use `QIIME2` just because it is what I am familiar with. But in this pipeline

[2021-01-20 20:02] sckott commented on #208
Thanks for the explanation!

So `taxa` I think is still useful for your use case of managing and doing any data munging on taxonomic data associated with any other data for those taxa.

For the checking names part with `taxize`,  lets continue any discussion over in https://github.com/ropensci/taxize/issues/866 - I do want to do a trial run of users defining custom data sources using pr2 to see if

[2021-01-21 21:29] zachary-foster commented on #208
I am just about to leave for camping until Monday. I will get back to this then. Sorry for the delay!

[2022-02-24 22:14] emankhalaf opened #210 "Error when using parse_tax_data function"
[code]

[2022-03-01 09:05] zachary-foster commented on #210
This function is now in `metacoder`, although something like it might be in `taxa` again eventually. I have created an issue in the `metacoder` repo here: https://github.com/grunwaldlab/metacoder/issues/334

[2022-03-10 17:07] kamapu opened #211 "Issues with CRAN check on 2022-03-10"
Due to some issues the package `taxa` is scheduled for archival on 2022-03-24.

The issue is generated by following warning and note:

  Namespaces in Imports field not imported from:
   ‘R6’ ‘jsonlite’ ‘knitr’ ‘lazyeval’ ‘tidyr’
   All declared Imports should be used.

Found the following significant warnings:

  Warning: 'default.stringsAsFactors' is deprecated.
  Warning: 'default.stringsAsFact

[2022-03-10 19:16] zachary-foster commented on #211
Thanks! Yea, I just say that. I will work on resolving it soon.

[2022-03-18 19:08] DavisVaughan opened #212 "vctrs revdep issues"
Hi there, we are planning on releasing a new version of vctrs soon, and this package was flagged in our revdeps. You should be able to reproduce this yourself by installing the dev version of vctrs and running your tests. You should get some failures related to taxa-authority.

In particular, the taxa-authority class seems to be a rcrd class where a "non missing" observation can still have `NA` fi

[2022-03-23 22:07] zachary-foster commented on #212
Thank you for the advice and detailed notes! I appreciate you taking the time to test out the package. I will try to look more into this soon.

[2022-03-24 12:39] DavisVaughan commented on #212
Just as an FYI we will send vctrs to CRAN soon (this week or next week), which will cause your tests to fail. You will get a two week notice from CRAN at some point requiring a fix in your package.

[2022-03-29 07:01] zachary-foster commented on #212
Thanks for the heads up! I implemented enough of your suggested changes to fix the failing tests. I probably have more to do before a CRAN release ideally, but I will be able to get out a release in time either way.